@page "/edit-transactioncategory"
@page "/edit-transactioncategory/{id:long}"
@inject HttpClient Http
@inject IHttpClientFactory ClientFactory
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))

@if(id == null)
{
	<h3>Create Category Map</h3>
}
else
{
	<h3>Edit Category Map @transactioncategory.getRwkString() </h3>
}

<EditForm Model="transactioncategory" onsubmit="HandleSubmit">
	@{
		Console.WriteLine("rendering");
	}
	<div>
        <table>

                <tr>
                <td><label for="id">Transaction-Category ID</label></td>
		        <td><InputNumber id="id" @bind-Value="transactioncategory.id" class="form-control" /></td>
                </tr>
                
                <tr>
                <td><label for="transaction_id">Transaction ID</label></td>
		        <td><InputNumber id="transaction_id" @bind-Value="transactioncategory.transaction_id" class="form-control" /></td>
                </tr>
                
                <tr>
                <td><label for="category_id">Category ID</label></td>
		        <td><InputNumber id="category_id" @bind-Value="transactioncategory.category_id" class="form-control" /></td>
                </tr>
                		

				<tr>
					<td>Active</td><td>@(transactioncategory.is_active.ToString())</td>
				</tr>
				
				<tr>
					<td>Created By</td><td>@(transactioncategory.created_by.ToString())</td>
				</tr>
				
				<tr>
					<td>Last Updated</td><td>@(transactioncategory.last_updated.ToString())</td>
				</tr>
				
				<tr>
					<td>Last Updated By</td><td>@(transactioncategory.last_updated_by.ToString())</td>
				</tr>
				
				<tr>
					<td>Version</td><td>@(transactioncategory.version.ToString())</td>
				</tr>
							
		</table>
	</div>
	<button type="submit" class="btn btn-primary">Save</button>
</EditForm>

@code {
	[Parameter]
	public long? id {get;set;}

	public TransactionCategory transactioncategory {get;set;} = new TransactionCategory();

	protected override async Task OnParametersSetAsync()
	{
		Console.WriteLine("getting data");
		if (id is not null) {
			var remoteClient = ClientFactory.CreateClient("RemoteAPI");
		var result = await remoteClient.GetFromJsonAsync<TransactionCategory>($"api/transactioncategory/{id}");
		if (result is not null)
			transactioncategory = result;
		}
	
	}

	async Task  HandleSubmit()
	{
		var remoteClient = ClientFactory.CreateClient("RemoteAPI");

		if (id is not null) {
			
			var result = await remoteClient.PutAsJsonAsync<TransactionCategory>($"api/transactioncategory/{id}", transactioncategory);
				if (result is not null)
				{
					var readResult = await result.Content.ReadFromJsonAsync<TransactionCategory>();
					if (readResult is not null) 
					{
						transactioncategory = readResult;
					}
				}
		}
		else
		{
			var result = await remoteClient.PostAsJsonAsync<TransactionCategory>($"api/transactioncategory", transactioncategory);	
			if (result is not null)
				{
					var readResult = await result.Content.ReadFromJsonAsync<TransactionCategory>();
					if (readResult is not null)
					{
						transactioncategory = readResult;
					}
				}
		}

	}
}   
