@page "/edit-account"
@page "/edit-account/{id:long}"
@inject HttpClient Http
@inject IHttpClientFactory ClientFactory
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))

@if(id == null)
{
	<h3>Create Account</h3>
}
else
{
	<h3>Edit Account @account.getRwkString() </h3>
}

<EditForm Model="account" onsubmit="HandleSubmit">
	@{
		Console.WriteLine("rendering");
	}
	<div>
        <table>

                <tr>
                <td><label for="id">Account ID</label></td>
		        <td><InputNumber id="id" @bind-Value="account.id" class="form-control" /></td>
                </tr>
                
                <tr>
                <td><label for="org_id">Organization</label></td>
		        <td><InputNumber id="org_id" @bind-Value="account.org_id" class="form-control" /></td>
                </tr>
                
                <tr>
                <td><label for="account_name">Name</label></td>
		        <td><InputText id="account_name" @bind-Value="account.account_name" class="form-control" /></td>
                </tr>
                
                <tr>
                <td><label for="account_type">Type</label></td>
		        <td><InputText id="account_type" @bind-Value="account.account_type" class="form-control" /></td>
                </tr>
                
                <tr>
                <td><label for="balance">Balance</label></td>
		        <td><InputNumber id="balance" @bind-Value="account.balance" class="form-control" /></td>
                </tr>
                
                <tr>
                <td><label for="created_date">Created</label></td>
		        <td><InputDate id="created_date" @bind-Value="account.created_date" class="form-control" /></td>
                </tr>
                		

				<tr>
					<td>Active</td><td>@(account.is_active.ToString())</td>
				</tr>
				
				<tr>
					<td>Created By</td><td>@(account.created_by.ToString())</td>
				</tr>
				
				<tr>
					<td>Last Updated</td><td>@(account.last_updated.ToString())</td>
				</tr>
				
				<tr>
					<td>Last Updated By</td><td>@(account.last_updated_by.ToString())</td>
				</tr>
				
				<tr>
					<td>Version</td><td>@(account.version.ToString())</td>
				</tr>
							
		</table>
	</div>
	<button type="submit" class="btn btn-primary">Save</button>
</EditForm>

@code {
	[Parameter]
	public long? id {get;set;}

	public Account account {get;set;} = new Account();

	protected override async Task OnParametersSetAsync()
	{
		Console.WriteLine("getting data");
		if (id is not null) {
			var remoteClient = ClientFactory.CreateClient("RemoteAPI");
		var result = await remoteClient.GetFromJsonAsync<Account>($"api/account/{id}");
		if (result is not null)
			account = result;
		}
	
	}

	async Task  HandleSubmit()
	{
		var remoteClient = ClientFactory.CreateClient("RemoteAPI");

		if (id is not null) {
			
			var result = await remoteClient.PutAsJsonAsync<Account>($"api/account/{id}", account);
				if (result is not null)
				{
					var readResult = await result.Content.ReadFromJsonAsync<Account>();
					if (readResult is not null) 
					{
						account = readResult;
					}
				}
		}
		else
		{
			var result = await remoteClient.PostAsJsonAsync<Account>($"api/account", account);	
			if (result is not null)
				{
					var readResult = await result.Content.ReadFromJsonAsync<Account>();
					if (readResult is not null)
					{
						account = readResult;
					}
				}
		}

	}
}   
