@page "/edit-billitem"
@page "/edit-billitem/{id:long}"
@inject HttpClient Http
@inject IHttpClientFactory ClientFactory
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))

@if(id == null)
{
	<h3>Create Bill Items</h3>
}
else
{
	<h3>Edit Bill Items @billitem.getRwkString() </h3>
}

<EditForm Model="billitem" onsubmit="HandleSubmit">
	@{
		Console.WriteLine("rendering");
	}
	<div>
        <table>

                <tr>
                <td><label for="id">Bill Item ID</label></td>
		        <td><InputNumber id="id" @bind-Value="billitem.id" class="form-control" /></td>
                </tr>
                
                <tr>
                <td><label for="bill_id">Bill ID</label></td>
		        <td><InputNumber id="bill_id" @bind-Value="billitem.bill_id" class="form-control" /></td>
                </tr>
                
                <tr>
                <td><label for="description">Description</label></td>
		        <td><InputText id="description" @bind-Value="billitem.description" class="form-control" /></td>
                </tr>
                
                <tr>
                <td><label for="quantity">Quantity</label></td>
		        <td><InputNumber id="quantity" @bind-Value="billitem.quantity" class="form-control" /></td>
                </tr>
                
                <tr>
                <td><label for="unit_price">Unit Price</label></td>
		        <td><InputNumber id="unit_price" @bind-Value="billitem.unit_price" class="form-control" /></td>
                </tr>
                
                <tr>
                <td><label for="total_amount">Total Amount</label></td>
		        <td><InputNumber id="total_amount" @bind-Value="billitem.total_amount" class="form-control" /></td>
                </tr>
                		

				<tr>
					<td>Active</td><td>@(billitem.is_active.ToString())</td>
				</tr>
				
				<tr>
					<td>Created By</td><td>@(billitem.created_by.ToString())</td>
				</tr>
				
				<tr>
					<td>Last Updated</td><td>@(billitem.last_updated.ToString())</td>
				</tr>
				
				<tr>
					<td>Last Updated By</td><td>@(billitem.last_updated_by.ToString())</td>
				</tr>
				
				<tr>
					<td>Version</td><td>@(billitem.version.ToString())</td>
				</tr>
							
		</table>
	</div>
	<button type="submit" class="btn btn-primary">Save</button>
</EditForm>

@code {
	[Parameter]
	public long? id {get;set;}

	public BillItem billitem {get;set;} = new BillItem();

	protected override async Task OnParametersSetAsync()
	{
		Console.WriteLine("getting data");
		if (id is not null) {
			var remoteClient = ClientFactory.CreateClient("RemoteAPI");
		var result = await remoteClient.GetFromJsonAsync<BillItem>($"api/billitem/{id}");
		if (result is not null)
			billitem = result;
		}
	
	}

	async Task  HandleSubmit()
	{
		var remoteClient = ClientFactory.CreateClient("RemoteAPI");

		if (id is not null) {
			
			var result = await remoteClient.PutAsJsonAsync<BillItem>($"api/billitem/{id}", billitem);
				if (result is not null)
				{
					var readResult = await result.Content.ReadFromJsonAsync<BillItem>();
					if (readResult is not null) 
					{
						billitem = readResult;
					}
				}
		}
		else
		{
			var result = await remoteClient.PostAsJsonAsync<BillItem>($"api/billitem", billitem);	
			if (result is not null)
				{
					var readResult = await result.Content.ReadFromJsonAsync<BillItem>();
					if (readResult is not null)
					{
						billitem = readResult;
					}
				}
		}

	}
}   
