@page "/edit-invoiceitem"
@page "/edit-invoiceitem/{id:long}"
@inject HttpClient Http
@inject IHttpClientFactory ClientFactory
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))

@if(id == null)
{
	<h3>Create Invoice Items</h3>
}
else
{
	<h3>Edit Invoice Items @invoiceitem.getRwkString() </h3>
}

<EditForm Model="invoiceitem" onsubmit="HandleSubmit">
	@{
		Console.WriteLine("rendering");
	}
	<div>
        <table>

                <tr>
                <td><label for="id">Invoice Item ID</label></td>
		        <td><InputNumber id="id" @bind-Value="invoiceitem.id" class="form-control" /></td>
                </tr>
                
                <tr>
                <td><label for="invoice_id">Invoice ID</label></td>
		        <td><InputNumber id="invoice_id" @bind-Value="invoiceitem.invoice_id" class="form-control" /></td>
                </tr>
                
                <tr>
                <td><label for="description">Description</label></td>
		        <td><InputText id="description" @bind-Value="invoiceitem.description" class="form-control" /></td>
                </tr>
                
                <tr>
                <td><label for="quantity">Quantity</label></td>
		        <td><InputNumber id="quantity" @bind-Value="invoiceitem.quantity" class="form-control" /></td>
                </tr>
                
                <tr>
                <td><label for="unit_price">Unit Price</label></td>
		        <td><InputNumber id="unit_price" @bind-Value="invoiceitem.unit_price" class="form-control" /></td>
                </tr>
                
                <tr>
                <td><label for="total_amount">Total Amount</label></td>
		        <td><InputNumber id="total_amount" @bind-Value="invoiceitem.total_amount" class="form-control" /></td>
                </tr>
                		

				<tr>
					<td>Active</td><td>@(invoiceitem.is_active.ToString())</td>
				</tr>
				
				<tr>
					<td>Created By</td><td>@(invoiceitem.created_by.ToString())</td>
				</tr>
				
				<tr>
					<td>Last Updated</td><td>@(invoiceitem.last_updated.ToString())</td>
				</tr>
				
				<tr>
					<td>Last Updated By</td><td>@(invoiceitem.last_updated_by.ToString())</td>
				</tr>
				
				<tr>
					<td>Version</td><td>@(invoiceitem.version.ToString())</td>
				</tr>
							
		</table>
	</div>
	<button type="submit" class="btn btn-primary">Save</button>
</EditForm>

@code {
	[Parameter]
	public long? id {get;set;}

	public InvoiceItem invoiceitem {get;set;} = new InvoiceItem();

	protected override async Task OnParametersSetAsync()
	{
		Console.WriteLine("getting data");
		if (id is not null) {
			var remoteClient = ClientFactory.CreateClient("RemoteAPI");
		var result = await remoteClient.GetFromJsonAsync<InvoiceItem>($"api/invoiceitem/{id}");
		if (result is not null)
			invoiceitem = result;
		}
	
	}

	async Task  HandleSubmit()
	{
		var remoteClient = ClientFactory.CreateClient("RemoteAPI");

		if (id is not null) {
			
			var result = await remoteClient.PutAsJsonAsync<InvoiceItem>($"api/invoiceitem/{id}", invoiceitem);
				if (result is not null)
				{
					var readResult = await result.Content.ReadFromJsonAsync<InvoiceItem>();
					if (readResult is not null) 
					{
						invoiceitem = readResult;
					}
				}
		}
		else
		{
			var result = await remoteClient.PostAsJsonAsync<InvoiceItem>($"api/invoiceitem", invoiceitem);	
			if (result is not null)
				{
					var readResult = await result.Content.ReadFromJsonAsync<InvoiceItem>();
					if (readResult is not null)
					{
						invoiceitem = readResult;
					}
				}
		}

	}
}   
