@page "/edit-budget"
@page "/edit-budget/{id:long}"
@inject HttpClient Http
@inject IHttpClientFactory ClientFactory
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))

@if(id == null)
{
	<h3>Create Budget</h3>
}
else
{
	<h3>Edit Budget @budget.getRwkString() </h3>
}

<EditForm Model="budget" onsubmit="HandleSubmit">
	@{
		Console.WriteLine("rendering");
	}
	<div>
        <table>

                <tr>
                <td><label for="id">Budget ID</label></td>
		        <td><InputNumber id="id" @bind-Value="budget.id" class="form-control" /></td>
                </tr>
                
                <tr>
                <td><label for="org_id">Organization ID</label></td>
		        <td><InputNumber id="org_id" @bind-Value="budget.org_id" class="form-control" /></td>
                </tr>
                
                <tr>
                <td><label for="category_id">Category ID</label></td>
		        <td><InputNumber id="category_id" @bind-Value="budget.category_id" class="form-control" /></td>
                </tr>
                
                <tr>
                <td><label for="amount">Amount</label></td>
		        <td><InputNumber id="amount" @bind-Value="budget.amount" class="form-control" /></td>
                </tr>
                
                <tr>
                <td><label for="start_date">Start Date</label></td>
		        <td><InputDate id="start_date" @bind-Value="budget.start_date" class="form-control" /></td>
                </tr>
                
                <tr>
                <td><label for="end_date">End Date</label></td>
		        <td><InputDate id="end_date" @bind-Value="budget.end_date" class="form-control" /></td>
                </tr>
                		

				<tr>
					<td>Active</td><td>@(budget.is_active.ToString())</td>
				</tr>
				
				<tr>
					<td>Created By</td><td>@(budget.created_by.ToString())</td>
				</tr>
				
				<tr>
					<td>Last Updated</td><td>@(budget.last_updated.ToString())</td>
				</tr>
				
				<tr>
					<td>Last Updated By</td><td>@(budget.last_updated_by.ToString())</td>
				</tr>
				
				<tr>
					<td>Version</td><td>@(budget.version.ToString())</td>
				</tr>
							
		</table>
	</div>
	<button type="submit" class="btn btn-primary">Save</button>
</EditForm>

@code {
	[Parameter]
	public long? id {get;set;}

	public Budget budget {get;set;} = new Budget();

	protected override async Task OnParametersSetAsync()
	{
		Console.WriteLine("getting data");
		if (id is not null) {
			var remoteClient = ClientFactory.CreateClient("RemoteAPI");
		var result = await remoteClient.GetFromJsonAsync<Budget>($"api/budget/{id}");
		if (result is not null)
			budget = result;
		}
	
	}

	async Task  HandleSubmit()
	{
		var remoteClient = ClientFactory.CreateClient("RemoteAPI");

		if (id is not null) {
			
			var result = await remoteClient.PutAsJsonAsync<Budget>($"api/budget/{id}", budget);
				if (result is not null)
				{
					var readResult = await result.Content.ReadFromJsonAsync<Budget>();
					if (readResult is not null) 
					{
						budget = readResult;
					}
				}
		}
		else
		{
			var result = await remoteClient.PostAsJsonAsync<Budget>($"api/budget", budget);	
			if (result is not null)
				{
					var readResult = await result.Content.ReadFromJsonAsync<Budget>();
					if (readResult is not null)
					{
						budget = readResult;
					}
				}
		}

	}
}   
