@page "/edit-oprole"
@page "/edit-oprole/{id:long}"
@inject HttpClient Http
@inject IHttpClientFactory ClientFactory
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))

@if(id == null)
{
	<h3>Create Operation Role</h3>
}
else
{
	<h3>Edit Operation Role @oprole.getRwkString() </h3>
}

<EditForm Model="oprole" onsubmit="HandleSubmit">
	@{
		Console.WriteLine("rendering");
	}
	<div>
        <table>

                <tr>
                <td><label for="id">Role ID</label></td>
		        <td><InputNumber id="id" @bind-Value="oprole.id" class="form-control" /></td>
                </tr>
                
                <tr>
                <td><label for="name">Role Name</label></td>
		        <td><InputText id="name" @bind-Value="oprole.name" class="form-control" /></td>
                </tr>
                		

				<tr>
					<td>Active</td><td>@(oprole.is_active.ToString())</td>
				</tr>
				
				<tr>
					<td>Created By</td><td>@(oprole.created_by.ToString())</td>
				</tr>
				
				<tr>
					<td>Last Updated</td><td>@(oprole.last_updated.ToString())</td>
				</tr>
				
				<tr>
					<td>Last Updated By</td><td>@(oprole.last_updated_by.ToString())</td>
				</tr>
				
				<tr>
					<td>Version</td><td>@(oprole.version.ToString())</td>
				</tr>
							
		</table>
	</div>
	<button type="submit" class="btn btn-primary">Save</button>
</EditForm>

@code {
	[Parameter]
	public long? id {get;set;}

	public OpRole oprole {get;set;} = new OpRole();

	protected override async Task OnParametersSetAsync()
	{
		Console.WriteLine("getting data");
		if (id is not null) {
			var remoteClient = ClientFactory.CreateClient("RemoteAPI");
		var result = await remoteClient.GetFromJsonAsync<OpRole>($"api/oprole/{id}");
		if (result is not null)
			oprole = result;
		}
	
	}

	async Task  HandleSubmit()
	{
		var remoteClient = ClientFactory.CreateClient("RemoteAPI");

		if (id is not null) {
			
			var result = await remoteClient.PutAsJsonAsync<OpRole>($"api/oprole/{id}", oprole);
				if (result is not null)
				{
					var readResult = await result.Content.ReadFromJsonAsync<OpRole>();
					if (readResult is not null) 
					{
						oprole = readResult;
					}
				}
		}
		else
		{
			var result = await remoteClient.PostAsJsonAsync<OpRole>($"api/oprole", oprole);	
			if (result is not null)
				{
					var readResult = await result.Content.ReadFromJsonAsync<OpRole>();
					if (readResult is not null)
					{
						oprole = readResult;
					}
				}
		}

	}
}   
