@page "/edit-payment"
@page "/edit-payment/{id:long}"
@inject HttpClient Http
@inject IHttpClientFactory ClientFactory
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))

@if(id == null)
{
	<h3>Create Payment</h3>
}
else
{
	<h3>Edit Payment @payment.getRwkString() </h3>
}

<EditForm Model="payment" onsubmit="HandleSubmit">
	@{
		Console.WriteLine("rendering");
	}
	<div>
        <table>

                <tr>
                <td><label for="id">Payment ID</label></td>
		        <td><InputNumber id="id" @bind-Value="payment.id" class="form-control" /></td>
                </tr>
                
                <tr>
                <td><label for="invoice_id">Invoice ID</label></td>
		        <td><InputNumber id="invoice_id" @bind-Value="payment.invoice_id" class="form-control" /></td>
                </tr>
                
                <tr>
                <td><label for="org_id">Organization ID</label></td>
		        <td><InputNumber id="org_id" @bind-Value="payment.org_id" class="form-control" /></td>
                </tr>
                
                <tr>
                <td><label for="payment_date">Payment Date</label></td>
		        <td><InputDate id="payment_date" @bind-Value="payment.payment_date" class="form-control" /></td>
                </tr>
                
                <tr>
                <td><label for="amount">Amount</label></td>
		        <td><InputNumber id="amount" @bind-Value="payment.amount" class="form-control" /></td>
                </tr>
                
                <tr>
                <td><label for="payment_method">Payment Method</label></td>
		        <td><InputText id="payment_method" @bind-Value="payment.payment_method" class="form-control" /></td>
                </tr>
                
                <tr>
                <td><label for="created_date">Created Date</label></td>
		        <td><InputDate id="created_date" @bind-Value="payment.created_date" class="form-control" /></td>
                </tr>
                		

				<tr>
					<td>Active</td><td>@(payment.is_active.ToString())</td>
				</tr>
				
				<tr>
					<td>Created By</td><td>@(payment.created_by.ToString())</td>
				</tr>
				
				<tr>
					<td>Last Updated</td><td>@(payment.last_updated.ToString())</td>
				</tr>
				
				<tr>
					<td>Last Updated By</td><td>@(payment.last_updated_by.ToString())</td>
				</tr>
				
				<tr>
					<td>Version</td><td>@(payment.version.ToString())</td>
				</tr>
							
		</table>
	</div>
	<button type="submit" class="btn btn-primary">Save</button>
</EditForm>

@code {
	[Parameter]
	public long? id {get;set;}

	public Payment payment {get;set;} = new Payment();

	protected override async Task OnParametersSetAsync()
	{
		Console.WriteLine("getting data");
		if (id is not null) {
			var remoteClient = ClientFactory.CreateClient("RemoteAPI");
		var result = await remoteClient.GetFromJsonAsync<Payment>($"api/payment/{id}");
		if (result is not null)
			payment = result;
		}
	
	}

	async Task  HandleSubmit()
	{
		var remoteClient = ClientFactory.CreateClient("RemoteAPI");

		if (id is not null) {
			
			var result = await remoteClient.PutAsJsonAsync<Payment>($"api/payment/{id}", payment);
				if (result is not null)
				{
					var readResult = await result.Content.ReadFromJsonAsync<Payment>();
					if (readResult is not null) 
					{
						payment = readResult;
					}
				}
		}
		else
		{
			var result = await remoteClient.PostAsJsonAsync<Payment>($"api/payment", payment);	
			if (result is not null)
				{
					var readResult = await result.Content.ReadFromJsonAsync<Payment>();
					if (readResult is not null)
					{
						payment = readResult;
					}
				}
		}

	}
}   
