@page "/org"
@using System.Net.Http;
@using Microsoft.Extensions.DependencyInjection;
@inject HttpClient Http
@inject IHttpClientFactory ClientFactory
@inject NavigationManager Navigation
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))
<PageTitle>Organization</PageTitle>

<h1>Organization</h1>

<p>This component demonstrates fetching Organization data from the server.</p>

@if (orgList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>

                <th>Organization ID</th>
                
                <th>Name</th>
                
                <th>Active</th>
                
                <th>Created By</th>
                
                <th>Last Updated</th>
                
                <th>Last Updated By</th>
                
                <th>Version</th>
                
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var org in orgList)
            {
                <tr>

                    <td>@org.id.ToString()</td>
                    
                    <td>@org.name.ToString()</td>
                    
                    <td>@org.is_active.ToString()</td>
                    
                    <td>@org.created_by.ToString()</td>
                    
                    <td>@org.last_updated.ToString()</td>
                    
                    <td>@org.last_updated_by.ToString()</td>
                    
                    <td>@org.version.ToString()</td>
                                        <td><button class="btn btn-primary" @onclick="@(()=> EditOrg(@org.id))">Edit</button></td>
                </tr>
            }
        </tbody>
    </table>
    <td><button class="btn btn-primary" @onclick="@(()=> AddOrg())">Add</button></td>
}

@code {
    protected  Org[]? orgList;

    protected override async Task OnInitializedAsync()
    {
        var remoteClient = ClientFactory.CreateClient("RemoteAPI");

        orgList = await remoteClient.GetFromJsonAsync<Org[]>("api/org");
    }

    void AddOrg()
    {
        
        Navigation.NavigateTo("edit-org");
    }

    void EditOrg(long id)
    {
        Navigation.NavigateTo($"edit-org/{id}");
    }


   
}
