@page "/payment"
@using System.Net.Http;
@using Microsoft.Extensions.DependencyInjection;
@inject HttpClient Http
@inject IHttpClientFactory ClientFactory
@inject NavigationManager Navigation
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))
<PageTitle>Payment</PageTitle>

<h1>Payment</h1>

<p>This component demonstrates fetching Payment data from the server.</p>

@if (paymentList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>

                <th>Payment ID</th>
                
                <th>Invoice ID</th>
                
                <th>Organization ID</th>
                
                <th>Payment Date</th>
                
                <th>Amount</th>
                
                <th>Payment Method</th>
                
                <th>Created Date</th>
                
                <th>Active</th>
                
                <th>Created By</th>
                
                <th>Last Updated</th>
                
                <th>Last Updated By</th>
                
                <th>Version</th>
                
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var payment in paymentList)
            {
                <tr>

                    <td>@payment.id.ToString()</td>
                    
                    <td>@payment.invoice_id.ToString()</td>
                    
                    <td>@payment.org_id.ToString()</td>
                    
                    <td>@payment.payment_date.ToString()</td>
                    
                    <td>@payment.amount.ToString()</td>
                    
                    <td>@payment.payment_method.ToString()</td>
                    
                    <td>@payment.created_date.ToString()</td>
                    
                    <td>@payment.is_active.ToString()</td>
                    
                    <td>@payment.created_by.ToString()</td>
                    
                    <td>@payment.last_updated.ToString()</td>
                    
                    <td>@payment.last_updated_by.ToString()</td>
                    
                    <td>@payment.version.ToString()</td>
                                        <td><button class="btn btn-primary" @onclick="@(()=> EditPayment(@payment.id))">Edit</button></td>
                </tr>
            }
        </tbody>
    </table>
    <td><button class="btn btn-primary" @onclick="@(()=> AddPayment())">Add</button></td>
}

@code {
    protected  Payment[]? paymentList;

    protected override async Task OnInitializedAsync()
    {
        var remoteClient = ClientFactory.CreateClient("RemoteAPI");

        paymentList = await remoteClient.GetFromJsonAsync<Payment[]>("api/payment");
    }

    void AddPayment()
    {
        
        Navigation.NavigateTo("edit-payment");
    }

    void EditPayment(long id)
    {
        Navigation.NavigateTo($"edit-payment/{id}");
    }


   
}
