@page "/account"
@using System.Net.Http;
@using Microsoft.Extensions.DependencyInjection;
@inject HttpClient Http
@inject IHttpClientFactory ClientFactory
@inject NavigationManager Navigation
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))
<PageTitle>Account</PageTitle>

<h1>Account</h1>

<p>This component demonstrates fetching Account data from the server.</p>

@if (accountList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>

                <th>Account ID</th>
                
                <th>Organization</th>
                
                <th>Name</th>
                
                <th>Type</th>
                
                <th>Balance</th>
                
                <th>Created</th>
                
                <th>Active</th>
                
                <th>Created By</th>
                
                <th>Last Updated</th>
                
                <th>Last Updated By</th>
                
                <th>Version</th>
                
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var account in accountList)
            {
                <tr>

                    <td>@account.id.ToString()</td>
                    
                    <td>@account.org_id.ToString()</td>
                    
                    <td>@account.account_name.ToString()</td>
                    
                    <td>@account.account_type.ToString()</td>
                    
                    <td>@account.balance.ToString()</td>
                    
                    <td>@account.created_date.ToString()</td>
                    
                    <td>@account.is_active.ToString()</td>
                    
                    <td>@account.created_by.ToString()</td>
                    
                    <td>@account.last_updated.ToString()</td>
                    
                    <td>@account.last_updated_by.ToString()</td>
                    
                    <td>@account.version.ToString()</td>
                                        <td><button class="btn btn-primary" @onclick="@(()=> EditAccount(@account.id))">Edit</button></td>
                </tr>
            }
        </tbody>
    </table>
    <td><button class="btn btn-primary" @onclick="@(()=> AddAccount())">Add</button></td>
}

@code {
    protected  Account[]? accountList;

    protected override async Task OnInitializedAsync()
    {
        var remoteClient = ClientFactory.CreateClient("RemoteAPI");

        accountList = await remoteClient.GetFromJsonAsync<Account[]>("api/account");
    }

    void AddAccount()
    {
        
        Navigation.NavigateTo("edit-account");
    }

    void EditAccount(long id)
    {
        Navigation.NavigateTo($"edit-account/{id}");
    }


   
}
