@page "/operation"
@using System.Net.Http;
@using Microsoft.Extensions.DependencyInjection;
@inject HttpClient Http
@inject IHttpClientFactory ClientFactory
@inject NavigationManager Navigation
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))
<PageTitle>Operations</PageTitle>

<h1>Operations</h1>

<p>This component demonstrates fetching Operations data from the server.</p>

@if (operationList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>

                <th>Action ID</th>
                
                <th>Object</th>
                
                <th>Method</th>
                
                <th>Active</th>
                
                <th>Created By</th>
                
                <th>Last Updated</th>
                
                <th>Last Updated By</th>
                
                <th>Version</th>
                
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var operation in operationList)
            {
                <tr>

                    <td>@operation.id.ToString()</td>
                    
                    <td>@operation.objectname.ToString()</td>
                    
                    <td>@operation.methodname.ToString()</td>
                    
                    <td>@operation.is_active.ToString()</td>
                    
                    <td>@operation.created_by.ToString()</td>
                    
                    <td>@operation.last_updated.ToString()</td>
                    
                    <td>@operation.last_updated_by.ToString()</td>
                    
                    <td>@operation.version.ToString()</td>
                                        <td><button class="btn btn-primary" @onclick="@(()=> EditOperation(@operation.id))">Edit</button></td>
                </tr>
            }
        </tbody>
    </table>
    <td><button class="btn btn-primary" @onclick="@(()=> AddOperation())">Add</button></td>
}

@code {
    protected  Operation[]? operationList;

    protected override async Task OnInitializedAsync()
    {
        var remoteClient = ClientFactory.CreateClient("RemoteAPI");

        operationList = await remoteClient.GetFromJsonAsync<Operation[]>("api/operation");
    }

    void AddOperation()
    {
        
        Navigation.NavigateTo("edit-operation");
    }

    void EditOperation(long id)
    {
        Navigation.NavigateTo($"edit-operation/{id}");
    }


   
}
