@page "/bill"
@using System.Net.Http;
@using Microsoft.Extensions.DependencyInjection;
@inject HttpClient Http
@inject IHttpClientFactory ClientFactory
@inject NavigationManager Navigation
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))
<PageTitle>Bill</PageTitle>

<h1>Bill</h1>

<p>This component demonstrates fetching Bill data from the server.</p>

@if (billList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>

                <th>Bill ID</th>
                
                <th>Vendor </th>
                
                <th>Organization</th>
                
                <th>Number</th>
                
                <th>Bill Date</th>
                
                <th>Due Date</th>
                
                <th>Total Amount</th>
                
                <th>Status</th>
                
                <th>Created</th>
                
                <th>Active</th>
                
                <th>Created By</th>
                
                <th>Last Updated</th>
                
                <th>Last Updated By</th>
                
                <th>Version</th>
                
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var bill in billList)
            {
                <tr>

                    <td>@bill.id.ToString()</td>
                    
                    <td>@bill.vendor_id.ToString()</td>
                    
                    <td>@bill.org_id.ToString()</td>
                    
                    <td>@bill.bill_number.ToString()</td>
                    
                    <td>@bill.bill_date.ToString()</td>
                    
                    <td>@bill.due_date.ToString()</td>
                    
                    <td>@bill.total_amount.ToString()</td>
                    
                    <td>@bill.status.ToString()</td>
                    
                    <td>@bill.created_date.ToString()</td>
                    
                    <td>@bill.is_active.ToString()</td>
                    
                    <td>@bill.created_by.ToString()</td>
                    
                    <td>@bill.last_updated.ToString()</td>
                    
                    <td>@bill.last_updated_by.ToString()</td>
                    
                    <td>@bill.version.ToString()</td>
                                        <td><button class="btn btn-primary" @onclick="@(()=> EditBill(@bill.id))">Edit</button></td>
                </tr>
            }
        </tbody>
    </table>
    <td><button class="btn btn-primary" @onclick="@(()=> AddBill())">Add</button></td>
}

@code {
    protected  Bill[]? billList;

    protected override async Task OnInitializedAsync()
    {
        var remoteClient = ClientFactory.CreateClient("RemoteAPI");

        billList = await remoteClient.GetFromJsonAsync<Bill[]>("api/bill");
    }

    void AddBill()
    {
        
        Navigation.NavigateTo("edit-bill");
    }

    void EditBill(long id)
    {
        Navigation.NavigateTo($"edit-bill/{id}");
    }


   
}
