@page "/invoice"
@using System.Net.Http;
@using Microsoft.Extensions.DependencyInjection;
@inject HttpClient Http
@inject IHttpClientFactory ClientFactory
@inject NavigationManager Navigation
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))
<PageTitle>Invoice</PageTitle>

<h1>Invoice</h1>

<p>This component demonstrates fetching Invoice data from the server.</p>

@if (invoiceList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>

                <th>Invoice ID</th>
                
                <th>Customer</th>
                
                <th>Organization</th>
                
                <th>Number</th>
                
                <th>Invoice Date</th>
                
                <th>Due Date</th>
                
                <th>Total Amount</th>
                
                <th>Status</th>
                
                <th>Created</th>
                
                <th>Active</th>
                
                <th>Created By</th>
                
                <th>Last Updated</th>
                
                <th>Last Updated By</th>
                
                <th>Version</th>
                
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var invoice in invoiceList)
            {
                <tr>

                    <td>@invoice.id.ToString()</td>
                    
                    <td>@invoice.customer_id.ToString()</td>
                    
                    <td>@invoice.org_id.ToString()</td>
                    
                    <td>@invoice.invoice_number.ToString()</td>
                    
                    <td>@invoice.invoice_date.ToString()</td>
                    
                    <td>@invoice.due_date.ToString()</td>
                    
                    <td>@invoice.total_amount.ToString()</td>
                    
                    <td>@invoice.status.ToString()</td>
                    
                    <td>@invoice.created_date.ToString()</td>
                    
                    <td>@invoice.is_active.ToString()</td>
                    
                    <td>@invoice.created_by.ToString()</td>
                    
                    <td>@invoice.last_updated.ToString()</td>
                    
                    <td>@invoice.last_updated_by.ToString()</td>
                    
                    <td>@invoice.version.ToString()</td>
                                        <td><button class="btn btn-primary" @onclick="@(()=> EditInvoice(@invoice.id))">Edit</button></td>
                </tr>
            }
        </tbody>
    </table>
    <td><button class="btn btn-primary" @onclick="@(()=> AddInvoice())">Add</button></td>
}

@code {
    protected  Invoice[]? invoiceList;

    protected override async Task OnInitializedAsync()
    {
        var remoteClient = ClientFactory.CreateClient("RemoteAPI");

        invoiceList = await remoteClient.GetFromJsonAsync<Invoice[]>("api/invoice");
    }

    void AddInvoice()
    {
        
        Navigation.NavigateTo("edit-invoice");
    }

    void EditInvoice(long id)
    {
        Navigation.NavigateTo($"edit-invoice/{id}");
    }


   
}
