@page "/vendor"
@using System.Net.Http;
@using Microsoft.Extensions.DependencyInjection;
@inject HttpClient Http
@inject IHttpClientFactory ClientFactory
@inject NavigationManager Navigation
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))
<PageTitle>Vendor</PageTitle>

<h1>Vendor</h1>

<p>This component demonstrates fetching Vendor data from the server.</p>

@if (vendorList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>

                <th>Vendor </th>
                
                <th>Organization</th>
                
                <th>Name</th>
                
                <th>First</th>
                
                <th>Last</th>
                
                <th>Email</th>
                
                <th>Phone</th>
                
                <th>Billing Address</th>
                
                <th>Created</th>
                
                <th>Active</th>
                
                <th>Created By</th>
                
                <th>Last Updated</th>
                
                <th>Last Updated By</th>
                
                <th>Version</th>
                
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var vendor in vendorList)
            {
                <tr>

                    <td>@vendor.id.ToString()</td>
                    
                    <td>@vendor.org_id.ToString()</td>
                    
                    <td>@vendor.vendor_name.ToString()</td>
                    
                    <td>@vendor.first_name.ToString()</td>
                    
                    <td>@vendor.last_name.ToString()</td>
                    
                    <td>@vendor.email.ToString()</td>
                    
                    <td>@vendor.phone.ToString()</td>
                    
                    <td>@vendor.billing_address.ToString()</td>
                    
                    <td>@vendor.created_date.ToString()</td>
                    
                    <td>@vendor.is_active.ToString()</td>
                    
                    <td>@vendor.created_by.ToString()</td>
                    
                    <td>@vendor.last_updated.ToString()</td>
                    
                    <td>@vendor.last_updated_by.ToString()</td>
                    
                    <td>@vendor.version.ToString()</td>
                                        <td><button class="btn btn-primary" @onclick="@(()=> EditVendor(@vendor.id))">Edit</button></td>
                </tr>
            }
        </tbody>
    </table>
    <td><button class="btn btn-primary" @onclick="@(()=> AddVendor())">Add</button></td>
}

@code {
    protected  Vendor[]? vendorList;

    protected override async Task OnInitializedAsync()
    {
        var remoteClient = ClientFactory.CreateClient("RemoteAPI");

        vendorList = await remoteClient.GetFromJsonAsync<Vendor[]>("api/vendor");
    }

    void AddVendor()
    {
        
        Navigation.NavigateTo("edit-vendor");
    }

    void EditVendor(long id)
    {
        Navigation.NavigateTo($"edit-vendor/{id}");
    }


   
}
