@page "/transaction"
@using System.Net.Http;
@using Microsoft.Extensions.DependencyInjection;
@inject HttpClient Http
@inject IHttpClientFactory ClientFactory
@inject NavigationManager Navigation
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))
<PageTitle>Transaction</PageTitle>

<h1>Transaction</h1>

<p>This component demonstrates fetching Transaction data from the server.</p>

@if (transactionList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>

                <th>Transaction ID</th>
                
                <th>Account ID</th>
                
                <th>Organization ID</th>
                
                <th>Transaction Date</th>
                
                <th>Amount</th>
                
                <th>Transaction Type</th>
                
                <th>Description</th>
                
                <th>Created Date</th>
                
                <th>Active</th>
                
                <th>Created By</th>
                
                <th>Last Updated</th>
                
                <th>Last Updated By</th>
                
                <th>Version</th>
                
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var transaction in transactionList)
            {
                <tr>

                    <td>@transaction.id.ToString()</td>
                    
                    <td>@transaction.account_id.ToString()</td>
                    
                    <td>@transaction.org_id.ToString()</td>
                    
                    <td>@transaction.transaction_date.ToString()</td>
                    
                    <td>@transaction.amount.ToString()</td>
                    
                    <td>@transaction.transaction_type.ToString()</td>
                    
                    <td>@transaction.description.ToString()</td>
                    
                    <td>@transaction.created_date.ToString()</td>
                    
                    <td>@transaction.is_active.ToString()</td>
                    
                    <td>@transaction.created_by.ToString()</td>
                    
                    <td>@transaction.last_updated.ToString()</td>
                    
                    <td>@transaction.last_updated_by.ToString()</td>
                    
                    <td>@transaction.version.ToString()</td>
                                        <td><button class="btn btn-primary" @onclick="@(()=> EditTransaction(@transaction.id))">Edit</button></td>
                </tr>
            }
        </tbody>
    </table>
    <td><button class="btn btn-primary" @onclick="@(()=> AddTransaction())">Add</button></td>
}

@code {
    protected  Transaction[]? transactionList;

    protected override async Task OnInitializedAsync()
    {
        var remoteClient = ClientFactory.CreateClient("RemoteAPI");

        transactionList = await remoteClient.GetFromJsonAsync<Transaction[]>("api/transaction");
    }

    void AddTransaction()
    {
        
        Navigation.NavigateTo("edit-transaction");
    }

    void EditTransaction(long id)
    {
        Navigation.NavigateTo($"edit-transaction/{id}");
    }


   
}
