@page "/billitem"
@using System.Net.Http;
@using Microsoft.Extensions.DependencyInjection;
@inject HttpClient Http
@inject IHttpClientFactory ClientFactory
@inject NavigationManager Navigation
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))
<PageTitle>Bill Items</PageTitle>

<h1>Bill Items</h1>

<p>This component demonstrates fetching Bill Items data from the server.</p>

@if (billitemList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>

                <th>Bill Item ID</th>
                
                <th>Bill ID</th>
                
                <th>Description</th>
                
                <th>Quantity</th>
                
                <th>Unit Price</th>
                
                <th>Total Amount</th>
                
                <th>Active</th>
                
                <th>Created By</th>
                
                <th>Last Updated</th>
                
                <th>Last Updated By</th>
                
                <th>Version</th>
                
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var billitem in billitemList)
            {
                <tr>

                    <td>@billitem.id.ToString()</td>
                    
                    <td>@billitem.bill_id.ToString()</td>
                    
                    <td>@billitem.description.ToString()</td>
                    
                    <td>@billitem.quantity.ToString()</td>
                    
                    <td>@billitem.unit_price.ToString()</td>
                    
                    <td>@billitem.total_amount.ToString()</td>
                    
                    <td>@billitem.is_active.ToString()</td>
                    
                    <td>@billitem.created_by.ToString()</td>
                    
                    <td>@billitem.last_updated.ToString()</td>
                    
                    <td>@billitem.last_updated_by.ToString()</td>
                    
                    <td>@billitem.version.ToString()</td>
                                        <td><button class="btn btn-primary" @onclick="@(()=> EditBillItem(@billitem.id))">Edit</button></td>
                </tr>
            }
        </tbody>
    </table>
    <td><button class="btn btn-primary" @onclick="@(()=> AddBillItem())">Add</button></td>
}

@code {
    protected  BillItem[]? billitemList;

    protected override async Task OnInitializedAsync()
    {
        var remoteClient = ClientFactory.CreateClient("RemoteAPI");

        billitemList = await remoteClient.GetFromJsonAsync<BillItem[]>("api/billitem");
    }

    void AddBillItem()
    {
        
        Navigation.NavigateTo("edit-billitem");
    }

    void EditBillItem(long id)
    {
        Navigation.NavigateTo($"edit-billitem/{id}");
    }


   
}
