@page "/budget"
@using System.Net.Http;
@using Microsoft.Extensions.DependencyInjection;
@inject HttpClient Http
@inject IHttpClientFactory ClientFactory
@inject NavigationManager Navigation
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))
<PageTitle>Budget</PageTitle>

<h1>Budget</h1>

<p>This component demonstrates fetching Budget data from the server.</p>

@if (budgetList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>

                <th>Budget ID</th>
                
                <th>Organization ID</th>
                
                <th>Category ID</th>
                
                <th>Amount</th>
                
                <th>Start Date</th>
                
                <th>End Date</th>
                
                <th>Active</th>
                
                <th>Created By</th>
                
                <th>Last Updated</th>
                
                <th>Last Updated By</th>
                
                <th>Version</th>
                
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var budget in budgetList)
            {
                <tr>

                    <td>@budget.id.ToString()</td>
                    
                    <td>@budget.org_id.ToString()</td>
                    
                    <td>@budget.category_id.ToString()</td>
                    
                    <td>@budget.amount.ToString()</td>
                    
                    <td>@budget.start_date.ToString()</td>
                    
                    <td>@budget.end_date.ToString()</td>
                    
                    <td>@budget.is_active.ToString()</td>
                    
                    <td>@budget.created_by.ToString()</td>
                    
                    <td>@budget.last_updated.ToString()</td>
                    
                    <td>@budget.last_updated_by.ToString()</td>
                    
                    <td>@budget.version.ToString()</td>
                                        <td><button class="btn btn-primary" @onclick="@(()=> EditBudget(@budget.id))">Edit</button></td>
                </tr>
            }
        </tbody>
    </table>
    <td><button class="btn btn-primary" @onclick="@(()=> AddBudget())">Add</button></td>
}

@code {
    protected  Budget[]? budgetList;

    protected override async Task OnInitializedAsync()
    {
        var remoteClient = ClientFactory.CreateClient("RemoteAPI");

        budgetList = await remoteClient.GetFromJsonAsync<Budget[]>("api/budget");
    }

    void AddBudget()
    {
        
        Navigation.NavigateTo("edit-budget");
    }

    void EditBudget(long id)
    {
        Navigation.NavigateTo($"edit-budget/{id}");
    }


   
}
