@page "/oprolemember"
@using System.Net.Http;
@using Microsoft.Extensions.DependencyInjection;
@inject HttpClient Http
@inject IHttpClientFactory ClientFactory
@inject NavigationManager Navigation
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))
<PageTitle>Operation Role Members</PageTitle>

<h1>Operation Role Members</h1>

<p>This component demonstrates fetching Operation Role Members data from the server.</p>

@if (oprolememberList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>

                <th>Member ID</th>
                
                <th>Username</th>
                
                <th>Role</th>
                
                <th>Active</th>
                
                <th>Created By</th>
                
                <th>Last Updated</th>
                
                <th>Last Updated By</th>
                
                <th>Version</th>
                
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var oprolemember in oprolememberList)
            {
                <tr>

                    <td>@oprolemember.id.ToString()</td>
                    
                    <td>@oprolemember.user_id.ToString()</td>
                    
                    <td>@oprolemember.op_role_id.ToString()</td>
                    
                    <td>@oprolemember.is_active.ToString()</td>
                    
                    <td>@oprolemember.created_by.ToString()</td>
                    
                    <td>@oprolemember.last_updated.ToString()</td>
                    
                    <td>@oprolemember.last_updated_by.ToString()</td>
                    
                    <td>@oprolemember.version.ToString()</td>
                                        <td><button class="btn btn-primary" @onclick="@(()=> EditOpRoleMember(@oprolemember.id))">Edit</button></td>
                </tr>
            }
        </tbody>
    </table>
    <td><button class="btn btn-primary" @onclick="@(()=> AddOpRoleMember())">Add</button></td>
}

@code {
    protected  OpRoleMember[]? oprolememberList;

    protected override async Task OnInitializedAsync()
    {
        var remoteClient = ClientFactory.CreateClient("RemoteAPI");

        oprolememberList = await remoteClient.GetFromJsonAsync<OpRoleMember[]>("api/oprolemember");
    }

    void AddOpRoleMember()
    {
        
        Navigation.NavigateTo("edit-oprolemember");
    }

    void EditOpRoleMember(long id)
    {
        Navigation.NavigateTo($"edit-oprolemember/{id}");
    }


   
}
