@page "/transactioncategory"
@using System.Net.Http;
@using Microsoft.Extensions.DependencyInjection;
@inject HttpClient Http
@inject IHttpClientFactory ClientFactory
@inject NavigationManager Navigation
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))
<PageTitle>Category Map</PageTitle>

<h1>Category Map</h1>

<p>This component demonstrates fetching Category Map data from the server.</p>

@if (transactioncategoryList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>

                <th>Transaction-Category ID</th>
                
                <th>Transaction ID</th>
                
                <th>Category ID</th>
                
                <th>Active</th>
                
                <th>Created By</th>
                
                <th>Last Updated</th>
                
                <th>Last Updated By</th>
                
                <th>Version</th>
                
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var transactioncategory in transactioncategoryList)
            {
                <tr>

                    <td>@transactioncategory.id.ToString()</td>
                    
                    <td>@transactioncategory.transaction_id.ToString()</td>
                    
                    <td>@transactioncategory.category_id.ToString()</td>
                    
                    <td>@transactioncategory.is_active.ToString()</td>
                    
                    <td>@transactioncategory.created_by.ToString()</td>
                    
                    <td>@transactioncategory.last_updated.ToString()</td>
                    
                    <td>@transactioncategory.last_updated_by.ToString()</td>
                    
                    <td>@transactioncategory.version.ToString()</td>
                                        <td><button class="btn btn-primary" @onclick="@(()=> EditTransactionCategory(@transactioncategory.id))">Edit</button></td>
                </tr>
            }
        </tbody>
    </table>
    <td><button class="btn btn-primary" @onclick="@(()=> AddTransactionCategory())">Add</button></td>
}

@code {
    protected  TransactionCategory[]? transactioncategoryList;

    protected override async Task OnInitializedAsync()
    {
        var remoteClient = ClientFactory.CreateClient("RemoteAPI");

        transactioncategoryList = await remoteClient.GetFromJsonAsync<TransactionCategory[]>("api/transactioncategory");
    }

    void AddTransactionCategory()
    {
        
        Navigation.NavigateTo("edit-transactioncategory");
    }

    void EditTransactionCategory(long id)
    {
        Navigation.NavigateTo($"edit-transactioncategory/{id}");
    }


   
}
