@page "/userpassword"
@using System.Net.Http;
@using Microsoft.Extensions.DependencyInjection;
@inject HttpClient Http
@inject IHttpClientFactory ClientFactory
@inject NavigationManager Navigation
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))
<PageTitle>Password</PageTitle>

<h1>Password</h1>

<p>This component demonstrates fetching Password data from the server.</p>

@if (userpasswordList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>

                <th>User ID</th>
                
                <th>User ID</th>
                
                <th>Password</th>
                
                <th>Expiry</th>
                
                <th>Needs Reset</th>
                
                <th>Active</th>
                
                <th>Created By</th>
                
                <th>Last Updated</th>
                
                <th>Last Updated By</th>
                
                <th>Version</th>
                
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var userpassword in userpasswordList)
            {
                <tr>

                    <td>@userpassword.id.ToString()</td>
                    
                    <td>@userpassword.user_id.ToString()</td>
                    
                    <td>@userpassword.password_hash.ToString()</td>
                    
                    <td>@userpassword.expiry.ToString()</td>
                    
                    <td>@userpassword.needs_reset.ToString()</td>
                    
                    <td>@userpassword.is_active.ToString()</td>
                    
                    <td>@userpassword.created_by.ToString()</td>
                    
                    <td>@userpassword.last_updated.ToString()</td>
                    
                    <td>@userpassword.last_updated_by.ToString()</td>
                    
                    <td>@userpassword.version.ToString()</td>
                                        <td><button class="btn btn-primary" @onclick="@(()=> EditUserPassword(@userpassword.id))">Edit</button></td>
                </tr>
            }
        </tbody>
    </table>
    <td><button class="btn btn-primary" @onclick="@(()=> AddUserPassword())">Add</button></td>
}

@code {
    protected  UserPassword[]? userpasswordList;

    protected override async Task OnInitializedAsync()
    {
        var remoteClient = ClientFactory.CreateClient("RemoteAPI");

        userpasswordList = await remoteClient.GetFromJsonAsync<UserPassword[]>("api/userpassword");
    }

    void AddUserPassword()
    {
        
        Navigation.NavigateTo("edit-userpassword");
    }

    void EditUserPassword(long id)
    {
        Navigation.NavigateTo($"edit-userpassword/{id}");
    }


   
}
