@page "/edit-scheduleworkflow"
@page "/edit-scheduleworkflow/{id:long}"
@inject HttpClient Http
@inject IHttpClientFactory ClientFactory
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))

@if(id == null)
{
	<h3>Create </h3>
}
else
{
	<h3>Edit  @scheduleworkflow.getRwkString() </h3>
}

<EditForm Model="scheduleworkflow" onsubmit="HandleSubmit">
	@{
		Console.WriteLine("rendering");
	}
	<div>
        <table>

                <tr>
                <td><label for="id"></label></td>
		        <td><InputNumber id="id" @bind-Value="scheduleworkflow.id" class="form-control" /></td>
                </tr>
                
                <tr>
                <td><label for="schedule_id"></label></td>
		        <td><InputNumber id="schedule_id" @bind-Value="scheduleworkflow.schedule_id" class="form-control" /></td>
                </tr>
                
                <tr>
                <td><label for="workflow_id"></label></td>
		        <td><InputNumber id="workflow_id" @bind-Value="scheduleworkflow.workflow_id" class="form-control" /></td>
                </tr>
                		

				<tr>
					<td>Active</td><td>@(scheduleworkflow.is_active.ToString())</td>
				</tr>
				
				<tr>
					<td>Created By</td><td>@(scheduleworkflow.created_by.ToString())</td>
				</tr>
				
				<tr>
					<td>Last Updated</td><td>@(scheduleworkflow.last_updated.ToString())</td>
				</tr>
				
				<tr>
					<td>Last Updated By</td><td>@(scheduleworkflow.last_updated_by.ToString())</td>
				</tr>
				
				<tr>
					<td>Version</td><td>@(scheduleworkflow.version.ToString())</td>
				</tr>
							
		</table>
	</div>
	<button type="submit" class="btn btn-primary">Save</button>
</EditForm>

@code {
	[Parameter]
	public long? id {get;set;}

	public ScheduleWorkflow scheduleworkflow {get;set;} = new ScheduleWorkflow();

	protected override async Task OnParametersSetAsync()
	{
		Console.WriteLine("getting data");
		if (id is not null) {
			var remoteClient = ClientFactory.CreateClient("RemoteAPI");
		var result = await remoteClient.GetFromJsonAsync<ScheduleWorkflow>($"api/scheduleworkflow/{id}");
		if (result is not null)
			scheduleworkflow = result;
		}
	
	}

	async Task  HandleSubmit()
	{
		var remoteClient = ClientFactory.CreateClient("RemoteAPI");

		if (id is not null) {
			
			var result = await remoteClient.PutAsJsonAsync<ScheduleWorkflow>($"api/scheduleworkflow/{id}", scheduleworkflow);
				if (result is not null)
				{
					var readResult = await result.Content.ReadFromJsonAsync<ScheduleWorkflow>();
					if (readResult is not null) 
					{
						scheduleworkflow = readResult;
					}
				}
		}
		else
		{
			var result = await remoteClient.PostAsJsonAsync<ScheduleWorkflow>($"api/scheduleworkflow", scheduleworkflow);	
			if (result is not null)
				{
					var readResult = await result.Content.ReadFromJsonAsync<ScheduleWorkflow>();
					if (readResult is not null)
					{
						scheduleworkflow = readResult;
					}
				}
		}

	}
}   
