@page "/edit-resource"
@page "/edit-resource/{id:long}"
@inject HttpClient Http
@inject IHttpClientFactory ClientFactory
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))

@if(id == null)
{
	<h3>Create Resource</h3>
}
else
{
	<h3>Edit Resource @resource.getRwkString() </h3>
}

<EditForm Model="resource" onsubmit="HandleSubmit">
	@{
		Console.WriteLine("rendering");
	}
	<div>
        <table>

                <tr>
                <td><label for="id">ID</label></td>
		        <td><InputNumber id="id" @bind-Value="resource.id" class="form-control" /></td>
                </tr>
                
                <tr>
                <td><label for="name">Name</label></td>
		        <td><InputText id="name" @bind-Value="resource.name" class="form-control" /></td>
                </tr>
                
                <tr>
                <td><label for="resource_type_id">Resource</label></td>
		        <td><InputNumber id="resource_type_id" @bind-Value="resource.resource_type_id" class="form-control" /></td>
                </tr>
                
                <tr>
                <td><label for="ip_address">Address</label></td>
		        <td><InputText id="ip_address" @bind-Value="resource.ip_address" class="form-control" /></td>
                </tr>
                
                <tr>
                <td><label for="description">Description</label></td>
		        <td><InputText id="description" @bind-Value="resource.description" class="form-control" /></td>
                </tr>
                		

				<tr>
					<td>Active</td><td>@(resource.is_active.ToString())</td>
				</tr>
				
				<tr>
					<td>Created By</td><td>@(resource.created_by.ToString())</td>
				</tr>
				
				<tr>
					<td>Last Updated</td><td>@(resource.last_updated.ToString())</td>
				</tr>
				
				<tr>
					<td>Last Updated By</td><td>@(resource.last_updated_by.ToString())</td>
				</tr>
				
				<tr>
					<td>Version</td><td>@(resource.version.ToString())</td>
				</tr>
							
		</table>
	</div>
	<button type="submit" class="btn btn-primary">Save</button>
</EditForm>

@code {
	[Parameter]
	public long? id {get;set;}

	public Resource resource {get;set;} = new Resource();

	protected override async Task OnParametersSetAsync()
	{
		Console.WriteLine("getting data");
		if (id is not null) {
			var remoteClient = ClientFactory.CreateClient("RemoteAPI");
		var result = await remoteClient.GetFromJsonAsync<Resource>($"api/resource/{id}");
		if (result is not null)
			resource = result;
		}
	
	}

	async Task  HandleSubmit()
	{
		var remoteClient = ClientFactory.CreateClient("RemoteAPI");

		if (id is not null) {
			
			var result = await remoteClient.PutAsJsonAsync<Resource>($"api/resource/{id}", resource);
				if (result is not null)
				{
					var readResult = await result.Content.ReadFromJsonAsync<Resource>();
					if (readResult is not null) 
					{
						resource = readResult;
					}
				}
		}
		else
		{
			var result = await remoteClient.PostAsJsonAsync<Resource>($"api/resource", resource);	
			if (result is not null)
				{
					var readResult = await result.Content.ReadFromJsonAsync<Resource>();
					if (readResult is not null)
					{
						resource = readResult;
					}
				}
		}

	}
}   
