@page "/edit-server"
@page "/edit-server/{id:long}"
@inject HttpClient Http
@inject IHttpClientFactory ClientFactory
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))

@if(id == null)
{
	<h3>Create Server</h3>
}
else
{
	<h3>Edit Server @server.getRwkString() </h3>
}

<EditForm Model="server" onsubmit="HandleSubmit">
	@{
		Console.WriteLine("rendering");
	}
	<div>
        <table>

                <tr>
                <td><label for="id">Server ID</label></td>
		        <td><InputNumber id="id" @bind-Value="server.id" class="form-control" /></td>
                </tr>
                
                <tr>
                <td><label for="name">Name</label></td>
		        <td><InputText id="name" @bind-Value="server.name" class="form-control" /></td>
                </tr>
                
                <tr>
                <td><label for="type">Type</label></td>
		        <td><InputText id="type" @bind-Value="server.type" class="form-control" /></td>
                </tr>
                
                <tr>
                <td><label for="address">Address</label></td>
		        <td><InputText id="address" @bind-Value="server.address" class="form-control" /></td>
                </tr>
                
                <tr>
                <td><label for="port">Port</label></td>
		        <td><InputNumber id="port" @bind-Value="server.port" class="form-control" /></td>
                </tr>
                
                <tr>
                <td><label for="is_default">Is Default</label></td>
		        <td><InputNumber id="is_default" @bind-Value="server.is_default" class="form-control" /></td>
                </tr>
                		

				<tr>
					<td>Active</td><td>@(server.is_active.ToString())</td>
				</tr>
				
				<tr>
					<td>Created By</td><td>@(server.created_by.ToString())</td>
				</tr>
				
				<tr>
					<td>Last Updated</td><td>@(server.last_updated.ToString())</td>
				</tr>
				
				<tr>
					<td>Last Updated By</td><td>@(server.last_updated_by.ToString())</td>
				</tr>
				
				<tr>
					<td>Version</td><td>@(server.version.ToString())</td>
				</tr>
							
		</table>
	</div>
	<button type="submit" class="btn btn-primary">Save</button>
</EditForm>

@code {
	[Parameter]
	public long? id {get;set;}

	public Server server {get;set;} = new Server();

	protected override async Task OnParametersSetAsync()
	{
		Console.WriteLine("getting data");
		if (id is not null) {
			var remoteClient = ClientFactory.CreateClient("RemoteAPI");
		var result = await remoteClient.GetFromJsonAsync<Server>($"api/server/{id}");
		if (result is not null)
			server = result;
		}
	
	}

	async Task  HandleSubmit()
	{
		var remoteClient = ClientFactory.CreateClient("RemoteAPI");

		if (id is not null) {
			
			var result = await remoteClient.PutAsJsonAsync<Server>($"api/server/{id}", server);
				if (result is not null)
				{
					var readResult = await result.Content.ReadFromJsonAsync<Server>();
					if (readResult is not null) 
					{
						server = readResult;
					}
				}
		}
		else
		{
			var result = await remoteClient.PostAsJsonAsync<Server>($"api/server", server);	
			if (result is not null)
				{
					var readResult = await result.Content.ReadFromJsonAsync<Server>();
					if (readResult is not null)
					{
						server = readResult;
					}
				}
		}

	}
}   
