@page "/edit-oprolemap"
@page "/edit-oprolemap/{id:long}"
@inject HttpClient Http
@inject IHttpClientFactory ClientFactory
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))

@if(id == null)
{
	<h3>Create Operation Group Map</h3>
}
else
{
	<h3>Edit Operation Group Map @oprolemap.getRwkString() </h3>
}

<EditForm Model="oprolemap" onsubmit="HandleSubmit">
	@{
		Console.WriteLine("rendering");
	}
	<div>
        <table>

                <tr>
                <td><label for="id">Operation Role Map ID</label></td>
		        <td><InputNumber id="id" @bind-Value="oprolemap.id" class="form-control" /></td>
                </tr>
                
                <tr>
                <td><label for="op_id">Operation ID</label></td>
		        <td><InputNumber id="op_id" @bind-Value="oprolemap.op_id" class="form-control" /></td>
                </tr>
                
                <tr>
                <td><label for="op_role_id">Role ID</label></td>
		        <td><InputNumber id="op_role_id" @bind-Value="oprolemap.op_role_id" class="form-control" /></td>
                </tr>
                		

				<tr>
					<td>Active</td><td>@(oprolemap.is_active.ToString())</td>
				</tr>
				
				<tr>
					<td>Created By</td><td>@(oprolemap.created_by.ToString())</td>
				</tr>
				
				<tr>
					<td>Last Updated</td><td>@(oprolemap.last_updated.ToString())</td>
				</tr>
				
				<tr>
					<td>Last Updated By</td><td>@(oprolemap.last_updated_by.ToString())</td>
				</tr>
				
				<tr>
					<td>Version</td><td>@(oprolemap.version.ToString())</td>
				</tr>
							
		</table>
	</div>
	<button type="submit" class="btn btn-primary">Save</button>
</EditForm>

@code {
	[Parameter]
	public long? id {get;set;}

	public OpRoleMap oprolemap {get;set;} = new OpRoleMap();

	protected override async Task OnParametersSetAsync()
	{
		Console.WriteLine("getting data");
		if (id is not null) {
			var remoteClient = ClientFactory.CreateClient("RemoteAPI");
		var result = await remoteClient.GetFromJsonAsync<OpRoleMap>($"api/oprolemap/{id}");
		if (result is not null)
			oprolemap = result;
		}
	
	}

	async Task  HandleSubmit()
	{
		var remoteClient = ClientFactory.CreateClient("RemoteAPI");

		if (id is not null) {
			
			var result = await remoteClient.PutAsJsonAsync<OpRoleMap>($"api/oprolemap/{id}", oprolemap);
				if (result is not null)
				{
					var readResult = await result.Content.ReadFromJsonAsync<OpRoleMap>();
					if (readResult is not null) 
					{
						oprolemap = readResult;
					}
				}
		}
		else
		{
			var result = await remoteClient.PostAsJsonAsync<OpRoleMap>($"api/oprolemap", oprolemap);	
			if (result is not null)
				{
					var readResult = await result.Content.ReadFromJsonAsync<OpRoleMap>();
					if (readResult is not null)
					{
						oprolemap = readResult;
					}
				}
		}

	}
}   
