@page "/edit-alert"
@page "/edit-alert/{id:long}"
@inject HttpClient Http
@inject IHttpClientFactory ClientFactory
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))

@if(id == null)
{
	<h3>Create Alert</h3>
}
else
{
	<h3>Edit Alert @alert.getRwkString() </h3>
}

<EditForm Model="alert" onsubmit="HandleSubmit">
	@{
		Console.WriteLine("rendering");
	}
	<div>
        <table>

                <tr>
                <td><label for="id">ID</label></td>
		        <td><InputNumber id="id" @bind-Value="alert.id" class="form-control" /></td>
                </tr>
                
                <tr>
                <td><label for="alert_rule_id">Alert</label></td>
		        <td><InputNumber id="alert_rule_id" @bind-Value="alert.alert_rule_id" class="form-control" /></td>
                </tr>
                
                <tr>
                <td><label for="metric_event_id">Metric</label></td>
		        <td><InputNumber id="metric_event_id" @bind-Value="alert.metric_event_id" class="form-control" /></td>
                </tr>
                
                <tr>
                <td><label for="triggered_at">Triggered</label></td>
		        <td><InputDate id="triggered_at" @bind-Value="alert.triggered_at" class="form-control" /></td>
                </tr>
                
                <tr>
                <td><label for="resolved_at">Resolved</label></td>
		        <td><InputDate id="resolved_at" @bind-Value="alert.resolved_at" class="form-control" /></td>
                </tr>
                
                <tr>
                <td><label for="status">Status</label></td>
		        <td><InputText id="status" @bind-Value="alert.status" class="form-control" /></td>
                </tr>
                		

				<tr>
					<td>Active</td><td>@(alert.is_active.ToString())</td>
				</tr>
				
				<tr>
					<td>Created By</td><td>@(alert.created_by.ToString())</td>
				</tr>
				
				<tr>
					<td>Last Updated</td><td>@(alert.last_updated.ToString())</td>
				</tr>
				
				<tr>
					<td>Last Updated By</td><td>@(alert.last_updated_by.ToString())</td>
				</tr>
				
				<tr>
					<td>Version</td><td>@(alert.version.ToString())</td>
				</tr>
							
		</table>
	</div>
	<button type="submit" class="btn btn-primary">Save</button>
</EditForm>

@code {
	[Parameter]
	public long? id {get;set;}

	public Alert alert {get;set;} = new Alert();

	protected override async Task OnParametersSetAsync()
	{
		Console.WriteLine("getting data");
		if (id is not null) {
			var remoteClient = ClientFactory.CreateClient("RemoteAPI");
		var result = await remoteClient.GetFromJsonAsync<Alert>($"api/alert/{id}");
		if (result is not null)
			alert = result;
		}
	
	}

	async Task  HandleSubmit()
	{
		var remoteClient = ClientFactory.CreateClient("RemoteAPI");

		if (id is not null) {
			
			var result = await remoteClient.PutAsJsonAsync<Alert>($"api/alert/{id}", alert);
				if (result is not null)
				{
					var readResult = await result.Content.ReadFromJsonAsync<Alert>();
					if (readResult is not null) 
					{
						alert = readResult;
					}
				}
		}
		else
		{
			var result = await remoteClient.PostAsJsonAsync<Alert>($"api/alert", alert);	
			if (result is not null)
				{
					var readResult = await result.Content.ReadFromJsonAsync<Alert>();
					if (readResult is not null)
					{
						alert = readResult;
					}
				}
		}

	}
}   
