@page "/edit-uom"
@page "/edit-uom/{id:long}"
@inject HttpClient Http
@inject IHttpClientFactory ClientFactory
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))

@if(id == null)
{
	<h3>Create Unit of Measure</h3>
}
else
{
	<h3>Edit Unit of Measure @uom.getRwkString() </h3>
}

<EditForm Model="uom" onsubmit="HandleSubmit">
	@{
		Console.WriteLine("rendering");
	}
	<div>
        <table>

                <tr>
                <td><label for="id">ID</label></td>
		        <td><InputNumber id="id" @bind-Value="uom.id" class="form-control" /></td>
                </tr>
                
                <tr>
                <td><label for="Name">Name</label></td>
		        <td><InputText id="Name" @bind-Value="uom.Name" class="form-control" /></td>
                </tr>
                		

				<tr>
					<td>Active</td><td>@(uom.is_active.ToString())</td>
				</tr>
				
				<tr>
					<td>Created By</td><td>@(uom.created_by.ToString())</td>
				</tr>
				
				<tr>
					<td>Last Updated</td><td>@(uom.last_updated.ToString())</td>
				</tr>
				
				<tr>
					<td>Last Updated By</td><td>@(uom.last_updated_by.ToString())</td>
				</tr>
				
				<tr>
					<td>Version</td><td>@(uom.version.ToString())</td>
				</tr>
							
		</table>
	</div>
	<button type="submit" class="btn btn-primary">Save</button>
</EditForm>

@code {
	[Parameter]
	public long? id {get;set;}

	public Uom uom {get;set;} = new Uom();

	protected override async Task OnParametersSetAsync()
	{
		Console.WriteLine("getting data");
		if (id is not null) {
			var remoteClient = ClientFactory.CreateClient("RemoteAPI");
		var result = await remoteClient.GetFromJsonAsync<Uom>($"api/uom/{id}");
		if (result is not null)
			uom = result;
		}
	
	}

	async Task  HandleSubmit()
	{
		var remoteClient = ClientFactory.CreateClient("RemoteAPI");

		if (id is not null) {
			
			var result = await remoteClient.PutAsJsonAsync<Uom>($"api/uom/{id}", uom);
				if (result is not null)
				{
					var readResult = await result.Content.ReadFromJsonAsync<Uom>();
					if (readResult is not null) 
					{
						uom = readResult;
					}
				}
		}
		else
		{
			var result = await remoteClient.PostAsJsonAsync<Uom>($"api/uom", uom);	
			if (result is not null)
				{
					var readResult = await result.Content.ReadFromJsonAsync<Uom>();
					if (readResult is not null)
					{
						uom = readResult;
					}
				}
		}

	}
}   
