@page "/edit-principal"
@page "/edit-principal/{id:long}"
@inject HttpClient Http
@inject IHttpClientFactory ClientFactory
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))

@if(id == null)
{
	<h3>Create Principal</h3>
}
else
{
	<h3>Edit Principal @principal.getRwkString() </h3>
}

<EditForm Model="principal" onsubmit="HandleSubmit">
	@{
		Console.WriteLine("rendering");
	}
	<div>
        <table>

                <tr>
                <td><label for="id">Principal ID</label></td>
		        <td><InputNumber id="id" @bind-Value="principal.id" class="form-control" /></td>
                </tr>
                
                <tr>
                <td><label for="first_name">First</label></td>
		        <td><InputText id="first_name" @bind-Value="principal.first_name" class="form-control" /></td>
                </tr>
                
                <tr>
                <td><label for="last_name">Last</label></td>
		        <td><InputText id="last_name" @bind-Value="principal.last_name" class="form-control" /></td>
                </tr>
                
                <tr>
                <td><label for="username">Username</label></td>
		        <td><InputText id="username" @bind-Value="principal.username" class="form-control" /></td>
                </tr>
                
                <tr>
                <td><label for="email">Email</label></td>
		        <td><InputText id="email" @bind-Value="principal.email" class="form-control" /></td>
                </tr>
                
                <tr>
                <td><label for="created_date">Created</label></td>
		        <td><InputDate id="created_date" @bind-Value="principal.created_date" class="form-control" /></td>
                </tr>
                
                <tr>
                <td><label for="last_login_date">Last Login</label></td>
		        <td><InputDate id="last_login_date" @bind-Value="principal.last_login_date" class="form-control" /></td>
                </tr>
                		

				<tr>
					<td>Active</td><td>@(principal.is_active.ToString())</td>
				</tr>
				
				<tr>
					<td>Created By</td><td>@(principal.created_by.ToString())</td>
				</tr>
				
				<tr>
					<td>Last Updated</td><td>@(principal.last_updated.ToString())</td>
				</tr>
				
				<tr>
					<td>Last Updated By</td><td>@(principal.last_updated_by.ToString())</td>
				</tr>
				
				<tr>
					<td>Version</td><td>@(principal.version.ToString())</td>
				</tr>
							
		</table>
	</div>
	<button type="submit" class="btn btn-primary">Save</button>
</EditForm>

@code {
	[Parameter]
	public long? id {get;set;}

	public Principal principal {get;set;} = new Principal();

	protected override async Task OnParametersSetAsync()
	{
		Console.WriteLine("getting data");
		if (id is not null) {
			var remoteClient = ClientFactory.CreateClient("RemoteAPI");
		var result = await remoteClient.GetFromJsonAsync<Principal>($"api/principal/{id}");
		if (result is not null)
			principal = result;
		}
	
	}

	async Task  HandleSubmit()
	{
		var remoteClient = ClientFactory.CreateClient("RemoteAPI");

		if (id is not null) {
			
			var result = await remoteClient.PutAsJsonAsync<Principal>($"api/principal/{id}", principal);
				if (result is not null)
				{
					var readResult = await result.Content.ReadFromJsonAsync<Principal>();
					if (readResult is not null) 
					{
						principal = readResult;
					}
				}
		}
		else
		{
			var result = await remoteClient.PostAsJsonAsync<Principal>($"api/principal", principal);	
			if (result is not null)
				{
					var readResult = await result.Content.ReadFromJsonAsync<Principal>();
					if (readResult is not null)
					{
						principal = readResult;
					}
				}
		}

	}
}   
