@page "/schedule"
@using System.Net.Http;
@using Microsoft.Extensions.DependencyInjection;
@inject HttpClient Http
@inject IHttpClientFactory ClientFactory
@inject NavigationManager Navigation
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))
<PageTitle>Schedule</PageTitle>

<h1>Schedule</h1>

<p>This component demonstrates fetching Schedule data from the server.</p>

@if (scheduleList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>

                <th></th>
                
                <th></th>
                
                <th></th>
                
                <th></th>
                
                <th></th>
                
                <th>Active</th>
                
                <th>Created By</th>
                
                <th>Last Updated</th>
                
                <th>Last Updated By</th>
                
                <th>Version</th>
                
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var schedule in scheduleList)
            {
                <tr>

                    <td>@schedule.id.ToString()</td>
                    
                    <td>@schedule.cron_expression.ToString()</td>
                    
                    <td>@schedule.next_run_time.ToString()</td>
                    
                    <td>@schedule.last_run_time.ToString()</td>
                    
                    <td>@schedule.status.ToString()</td>
                    
                    <td>@schedule.is_active.ToString()</td>
                    
                    <td>@schedule.created_by.ToString()</td>
                    
                    <td>@schedule.last_updated.ToString()</td>
                    
                    <td>@schedule.last_updated_by.ToString()</td>
                    
                    <td>@schedule.version.ToString()</td>
                                        <td><button class="btn btn-primary" @onclick="@(()=> EditSchedule(@schedule.id))">Edit</button></td>
                </tr>
            }
        </tbody>
    </table>
    <td><button class="btn btn-primary" @onclick="@(()=> AddSchedule())">Add</button></td>
}

@code {
    protected  Schedule[]? scheduleList;

    protected override async Task OnInitializedAsync()
    {
        var remoteClient = ClientFactory.CreateClient("RemoteAPI");

        scheduleList = await remoteClient.GetFromJsonAsync<Schedule[]>("api/schedule");
    }

    void AddSchedule()
    {
        
        Navigation.NavigateTo("edit-schedule");
    }

    void EditSchedule(long id)
    {
        Navigation.NavigateTo($"edit-schedule/{id}");
    }


   
}
