@page "/principal"
@using System.Net.Http;
@using Microsoft.Extensions.DependencyInjection;
@inject HttpClient Http
@inject IHttpClientFactory ClientFactory
@inject NavigationManager Navigation
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))
<PageTitle>Principal</PageTitle>

<h1>Principal</h1>

<p>This component demonstrates fetching Principal data from the server.</p>

@if (principalList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>

                <th>Principal ID</th>
                
                <th>First</th>
                
                <th>Last</th>
                
                <th>Username</th>
                
                <th>Email</th>
                
                <th>Created</th>
                
                <th>Last Login</th>
                
                <th>Active</th>
                
                <th>Created By</th>
                
                <th>Last Updated</th>
                
                <th>Last Updated By</th>
                
                <th>Version</th>
                
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var principal in principalList)
            {
                <tr>

                    <td>@principal.id.ToString()</td>
                    
                    <td>@principal.first_name.ToString()</td>
                    
                    <td>@principal.last_name.ToString()</td>
                    
                    <td>@principal.username.ToString()</td>
                    
                    <td>@principal.email.ToString()</td>
                    
                    <td>@principal.created_date.ToString()</td>
                    
                    <td>@principal.last_login_date.ToString()</td>
                    
                    <td>@principal.is_active.ToString()</td>
                    
                    <td>@principal.created_by.ToString()</td>
                    
                    <td>@principal.last_updated.ToString()</td>
                    
                    <td>@principal.last_updated_by.ToString()</td>
                    
                    <td>@principal.version.ToString()</td>
                                        <td><button class="btn btn-primary" @onclick="@(()=> EditPrincipal(@principal.id))">Edit</button></td>
                </tr>
            }
        </tbody>
    </table>
    <td><button class="btn btn-primary" @onclick="@(()=> AddPrincipal())">Add</button></td>
}

@code {
    protected  Principal[]? principalList;

    protected override async Task OnInitializedAsync()
    {
        var remoteClient = ClientFactory.CreateClient("RemoteAPI");

        principalList = await remoteClient.GetFromJsonAsync<Principal[]>("api/principal");
    }

    void AddPrincipal()
    {
        
        Navigation.NavigateTo("edit-principal");
    }

    void EditPrincipal(long id)
    {
        Navigation.NavigateTo($"edit-principal/{id}");
    }


   
}
