@page "/resourcetype"
@using System.Net.Http;
@using Microsoft.Extensions.DependencyInjection;
@inject HttpClient Http
@inject IHttpClientFactory ClientFactory
@inject NavigationManager Navigation
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))
<PageTitle>Resource Type</PageTitle>

<h1>Resource Type</h1>

<p>This component demonstrates fetching Resource Type data from the server.</p>

@if (resourcetypeList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>

                <th>ID</th>
                
                <th>Name</th>
                
                <th>Active</th>
                
                <th>Created By</th>
                
                <th>Last Updated</th>
                
                <th>Last Updated By</th>
                
                <th>Version</th>
                
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var resourcetype in resourcetypeList)
            {
                <tr>

                    <td>@resourcetype.id.ToString()</td>
                    
                    <td>@resourcetype.name.ToString()</td>
                    
                    <td>@resourcetype.is_active.ToString()</td>
                    
                    <td>@resourcetype.created_by.ToString()</td>
                    
                    <td>@resourcetype.last_updated.ToString()</td>
                    
                    <td>@resourcetype.last_updated_by.ToString()</td>
                    
                    <td>@resourcetype.version.ToString()</td>
                                        <td><button class="btn btn-primary" @onclick="@(()=> EditResourceType(@resourcetype.id))">Edit</button></td>
                </tr>
            }
        </tbody>
    </table>
    <td><button class="btn btn-primary" @onclick="@(()=> AddResourceType())">Add</button></td>
}

@code {
    protected  ResourceType[]? resourcetypeList;

    protected override async Task OnInitializedAsync()
    {
        var remoteClient = ClientFactory.CreateClient("RemoteAPI");

        resourcetypeList = await remoteClient.GetFromJsonAsync<ResourceType[]>("api/resourcetype");
    }

    void AddResourceType()
    {
        
        Navigation.NavigateTo("edit-resourcetype");
    }

    void EditResourceType(long id)
    {
        Navigation.NavigateTo($"edit-resourcetype/{id}");
    }


   
}
