@page "/userorg"
@using System.Net.Http;
@using Microsoft.Extensions.DependencyInjection;
@inject HttpClient Http
@inject IHttpClientFactory ClientFactory
@inject NavigationManager Navigation
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))
<PageTitle>Users</PageTitle>

<h1>Users</h1>

<p>This component demonstrates fetching Users data from the server.</p>

@if (userorgList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>

                <th>User Org ID</th>
                
                <th>Organization ID</th>
                
                <th>User ID</th>
                
                <th>Active</th>
                
                <th>Created By</th>
                
                <th>Last Updated</th>
                
                <th>Last Updated By</th>
                
                <th>Version</th>
                
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var userorg in userorgList)
            {
                <tr>

                    <td>@userorg.id.ToString()</td>
                    
                    <td>@userorg.org_id.ToString()</td>
                    
                    <td>@userorg.user_id.ToString()</td>
                    
                    <td>@userorg.is_active.ToString()</td>
                    
                    <td>@userorg.created_by.ToString()</td>
                    
                    <td>@userorg.last_updated.ToString()</td>
                    
                    <td>@userorg.last_updated_by.ToString()</td>
                    
                    <td>@userorg.version.ToString()</td>
                                        <td><button class="btn btn-primary" @onclick="@(()=> EditUserOrg(@userorg.id))">Edit</button></td>
                </tr>
            }
        </tbody>
    </table>
    <td><button class="btn btn-primary" @onclick="@(()=> AddUserOrg())">Add</button></td>
}

@code {
    protected  UserOrg[]? userorgList;

    protected override async Task OnInitializedAsync()
    {
        var remoteClient = ClientFactory.CreateClient("RemoteAPI");

        userorgList = await remoteClient.GetFromJsonAsync<UserOrg[]>("api/userorg");
    }

    void AddUserOrg()
    {
        
        Navigation.NavigateTo("edit-userorg");
    }

    void EditUserOrg(long id)
    {
        Navigation.NavigateTo($"edit-userorg/{id}");
    }


   
}
