@page "/principalpassword"
@using System.Net.Http;
@using Microsoft.Extensions.DependencyInjection;
@inject HttpClient Http
@inject IHttpClientFactory ClientFactory
@inject NavigationManager Navigation
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))
<PageTitle>Password</PageTitle>

<h1>Password</h1>

<p>This component demonstrates fetching Password data from the server.</p>

@if (principalpasswordList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>

                <th>Principal ID</th>
                
                <th>Principal ID</th>
                
                <th>Password</th>
                
                <th>Expiry</th>
                
                <th>Needs Reset</th>
                
                <th>Active</th>
                
                <th>Created By</th>
                
                <th>Last Updated</th>
                
                <th>Last Updated By</th>
                
                <th>Version</th>
                
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var principalpassword in principalpasswordList)
            {
                <tr>

                    <td>@principalpassword.id.ToString()</td>
                    
                    <td>@principalpassword.principal_id.ToString()</td>
                    
                    <td>@principalpassword.password_hash.ToString()</td>
                    
                    <td>@principalpassword.expiry.ToString()</td>
                    
                    <td>@principalpassword.needs_reset.ToString()</td>
                    
                    <td>@principalpassword.is_active.ToString()</td>
                    
                    <td>@principalpassword.created_by.ToString()</td>
                    
                    <td>@principalpassword.last_updated.ToString()</td>
                    
                    <td>@principalpassword.last_updated_by.ToString()</td>
                    
                    <td>@principalpassword.version.ToString()</td>
                                        <td><button class="btn btn-primary" @onclick="@(()=> EditPrincipalPassword(@principalpassword.id))">Edit</button></td>
                </tr>
            }
        </tbody>
    </table>
    <td><button class="btn btn-primary" @onclick="@(()=> AddPrincipalPassword())">Add</button></td>
}

@code {
    protected  PrincipalPassword[]? principalpasswordList;

    protected override async Task OnInitializedAsync()
    {
        var remoteClient = ClientFactory.CreateClient("RemoteAPI");

        principalpasswordList = await remoteClient.GetFromJsonAsync<PrincipalPassword[]>("api/principalpassword");
    }

    void AddPrincipalPassword()
    {
        
        Navigation.NavigateTo("edit-principalpassword");
    }

    void EditPrincipalPassword(long id)
    {
        Navigation.NavigateTo($"edit-principalpassword/{id}");
    }


   
}
