@page "/user"
@using System.Net.Http;
@using Microsoft.Extensions.DependencyInjection;
@inject HttpClient Http
@inject IHttpClientFactory ClientFactory
@inject NavigationManager Navigation
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))
<PageTitle>User</PageTitle>

<h1>User</h1>

<p>This component demonstrates fetching User data from the server.</p>

@if (userList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>

                <th>User ID</th>
                
                <th>First</th>
                
                <th>Last</th>
                
                <th>Username</th>
                
                <th>Email</th>
                
                <th>Created</th>
                
                <th>Last Login</th>
                
                <th>Active</th>
                
                <th>Created By</th>
                
                <th>Last Updated</th>
                
                <th>Last Updated By</th>
                
                <th>Version</th>
                
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in userList)
            {
                <tr>

                    <td>@user.id.ToString()</td>
                    
                    <td>@user.first_name.ToString()</td>
                    
                    <td>@user.last_name.ToString()</td>
                    
                    <td>@user.username.ToString()</td>
                    
                    <td>@user.email.ToString()</td>
                    
                    <td>@user.created_date.ToString()</td>
                    
                    <td>@user.last_login_date.ToString()</td>
                    
                    <td>@user.is_active.ToString()</td>
                    
                    <td>@user.created_by.ToString()</td>
                    
                    <td>@user.last_updated.ToString()</td>
                    
                    <td>@user.last_updated_by.ToString()</td>
                    
                    <td>@user.version.ToString()</td>
                                        <td><button class="btn btn-primary" @onclick="@(()=> EditUser(@user.id))">Edit</button></td>
                </tr>
            }
        </tbody>
    </table>
    <td><button class="btn btn-primary" @onclick="@(()=> AddUser())">Add</button></td>
}

@code {
    protected  User[]? userList;

    protected override async Task OnInitializedAsync()
    {
        var remoteClient = ClientFactory.CreateClient("RemoteAPI");

        userList = await remoteClient.GetFromJsonAsync<User[]>("api/user");
    }

    void AddUser()
    {
        
        Navigation.NavigateTo("edit-user");
    }

    void EditUser(long id)
    {
        Navigation.NavigateTo($"edit-user/{id}");
    }


   
}
