@page "/alertrule"
@using System.Net.Http;
@using Microsoft.Extensions.DependencyInjection;
@inject HttpClient Http
@inject IHttpClientFactory ClientFactory
@inject NavigationManager Navigation
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))
<PageTitle>Alert Rule</PageTitle>

<h1>Alert Rule</h1>

<p>This component demonstrates fetching Alert Rule data from the server.</p>

@if (alertruleList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>

                <th>ID</th>
                
                <th>Metric</th>
                
                <th>Name</th>
                
                <th>Condition</th>
                
                <th>Threshold</th>
                
                <th>Recipients</th>
                
                <th>Active</th>
                
                <th>Created By</th>
                
                <th>Last Updated</th>
                
                <th>Last Updated By</th>
                
                <th>Version</th>
                
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var alertrule in alertruleList)
            {
                <tr>

                    <td>@alertrule.id.ToString()</td>
                    
                    <td>@alertrule.metric_id.ToString()</td>
                    
                    <td>@alertrule.name.ToString()</td>
                    
                    <td>@alertrule.condition.ToString()</td>
                    
                    <td>@alertrule.threshold.ToString()</td>
                    
                    <td>@alertrule.recipients.ToString()</td>
                    
                    <td>@alertrule.is_active.ToString()</td>
                    
                    <td>@alertrule.created_by.ToString()</td>
                    
                    <td>@alertrule.last_updated.ToString()</td>
                    
                    <td>@alertrule.last_updated_by.ToString()</td>
                    
                    <td>@alertrule.version.ToString()</td>
                                        <td><button class="btn btn-primary" @onclick="@(()=> EditAlertRule(@alertrule.id))">Edit</button></td>
                </tr>
            }
        </tbody>
    </table>
    <td><button class="btn btn-primary" @onclick="@(()=> AddAlertRule())">Add</button></td>
}

@code {
    protected  AlertRule[]? alertruleList;

    protected override async Task OnInitializedAsync()
    {
        var remoteClient = ClientFactory.CreateClient("RemoteAPI");

        alertruleList = await remoteClient.GetFromJsonAsync<AlertRule[]>("api/alertrule");
    }

    void AddAlertRule()
    {
        
        Navigation.NavigateTo("edit-alertrule");
    }

    void EditAlertRule(long id)
    {
        Navigation.NavigateTo($"edit-alertrule/{id}");
    }


   
}
