@page "/metric"
@using System.Net.Http;
@using Microsoft.Extensions.DependencyInjection;
@inject HttpClient Http
@inject IHttpClientFactory ClientFactory
@inject NavigationManager Navigation
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))
<PageTitle>Metric</PageTitle>

<h1>Metric</h1>

<p>This component demonstrates fetching Metric data from the server.</p>

@if (metricList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>

                <th>ID</th>
                
                <th>Name</th>
                
                <th>Category</th>
                
                <th>Unit</th>
                
                <th>Active</th>
                
                <th>Created By</th>
                
                <th>Last Updated</th>
                
                <th>Last Updated By</th>
                
                <th>Version</th>
                
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var metric in metricList)
            {
                <tr>

                    <td>@metric.id.ToString()</td>
                    
                    <td>@metric.name.ToString()</td>
                    
                    <td>@metric.category_id.ToString()</td>
                    
                    <td>@metric.uom_id.ToString()</td>
                    
                    <td>@metric.is_active.ToString()</td>
                    
                    <td>@metric.created_by.ToString()</td>
                    
                    <td>@metric.last_updated.ToString()</td>
                    
                    <td>@metric.last_updated_by.ToString()</td>
                    
                    <td>@metric.version.ToString()</td>
                                        <td><button class="btn btn-primary" @onclick="@(()=> EditMetric(@metric.id))">Edit</button></td>
                </tr>
            }
        </tbody>
    </table>
    <td><button class="btn btn-primary" @onclick="@(()=> AddMetric())">Add</button></td>
}

@code {
    protected  Metric[]? metricList;

    protected override async Task OnInitializedAsync()
    {
        var remoteClient = ClientFactory.CreateClient("RemoteAPI");

        metricList = await remoteClient.GetFromJsonAsync<Metric[]>("api/metric");
    }

    void AddMetric()
    {
        
        Navigation.NavigateTo("edit-metric");
    }

    void EditMetric(long id)
    {
        Navigation.NavigateTo($"edit-metric/{id}");
    }


   
}
