@page "/query"
@using System.Net.Http;
@using Microsoft.Extensions.DependencyInjection;
@inject HttpClient Http
@inject IHttpClientFactory ClientFactory
@inject NavigationManager Navigation
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))
<PageTitle>Query</PageTitle>

<h1>Query</h1>

<p>This component demonstrates fetching Query data from the server.</p>

@if (queryList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>

                <th>Query ID</th>
                
                <th>Name</th>
                
                <th>SQL Text</th>
                
                <th>Description</th>
                
                <th>Active</th>
                
                <th>Created By</th>
                
                <th>Last Updated</th>
                
                <th>Last Updated By</th>
                
                <th>Version</th>
                
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var query in queryList)
            {
                <tr>

                    <td>@query.id.ToString()</td>
                    
                    <td>@query.name.ToString()</td>
                    
                    <td>@query.sql_text.ToString()</td>
                    
                    <td>@query.description.ToString()</td>
                    
                    <td>@query.is_active.ToString()</td>
                    
                    <td>@query.created_by.ToString()</td>
                    
                    <td>@query.last_updated.ToString()</td>
                    
                    <td>@query.last_updated_by.ToString()</td>
                    
                    <td>@query.version.ToString()</td>
                                        <td><button class="btn btn-primary" @onclick="@(()=> EditQuery(@query.id))">Edit</button></td>
                </tr>
            }
        </tbody>
    </table>
    <td><button class="btn btn-primary" @onclick="@(()=> AddQuery())">Add</button></td>
}

@code {
    protected  Query[]? queryList;

    protected override async Task OnInitializedAsync()
    {
        var remoteClient = ClientFactory.CreateClient("RemoteAPI");

        queryList = await remoteClient.GetFromJsonAsync<Query[]>("api/query");
    }

    void AddQuery()
    {
        
        Navigation.NavigateTo("edit-query");
    }

    void EditQuery(long id)
    {
        Navigation.NavigateTo($"edit-query/{id}");
    }


   
}
