@page "/eventservice"
@using System.Net.Http;
@using Microsoft.Extensions.DependencyInjection;
@inject HttpClient Http
@inject IHttpClientFactory ClientFactory
@inject NavigationManager Navigation
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))
<PageTitle>Events</PageTitle>

<h1>Events</h1>

<p>This component demonstrates fetching Events data from the server.</p>

@if (eventserviceList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>

                <th>Event ID</th>
                
                <th>Event Type</th>
                
                <th>Object Filter</th>
                
                <th>Method Filter</th>
                
                <th>Script ID</th>
                
                <th>Active</th>
                
                <th>Created By</th>
                
                <th>Last Updated</th>
                
                <th>Last Updated By</th>
                
                <th>Version</th>
                
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var eventservice in eventserviceList)
            {
                <tr>

                    <td>@eventservice.id.ToString()</td>
                    
                    <td>@eventservice.event_type.ToString()</td>
                    
                    <td>@eventservice.objectname_filter.ToString()</td>
                    
                    <td>@eventservice.methodname_filter.ToString()</td>
                    
                    <td>@eventservice.script_id.ToString()</td>
                    
                    <td>@eventservice.is_active.ToString()</td>
                    
                    <td>@eventservice.created_by.ToString()</td>
                    
                    <td>@eventservice.last_updated.ToString()</td>
                    
                    <td>@eventservice.last_updated_by.ToString()</td>
                    
                    <td>@eventservice.version.ToString()</td>
                                        <td><button class="btn btn-primary" @onclick="@(()=> EditEventService(@eventservice.id))">Edit</button></td>
                </tr>
            }
        </tbody>
    </table>
    <td><button class="btn btn-primary" @onclick="@(()=> AddEventService())">Add</button></td>
}

@code {
    protected  EventService[]? eventserviceList;

    protected override async Task OnInitializedAsync()
    {
        var remoteClient = ClientFactory.CreateClient("RemoteAPI");

        eventserviceList = await remoteClient.GetFromJsonAsync<EventService[]>("api/eventservice");
    }

    void AddEventService()
    {
        
        Navigation.NavigateTo("edit-eventservice");
    }

    void EditEventService(long id)
    {
        Navigation.NavigateTo($"edit-eventservice/{id}");
    }


   
}
