@page "/process"
@using System.Net.Http;
@using Microsoft.Extensions.DependencyInjection;
@inject HttpClient Http
@inject IHttpClientFactory ClientFactory
@inject NavigationManager Navigation
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))
<PageTitle>Process</PageTitle>

<h1>Process</h1>

<p>This component demonstrates fetching Process data from the server.</p>

@if (processList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>

                <th>Process ID</th>
                
                <th>Name</th>
                
                <th>Script</th>
                
                <th>Active</th>
                
                <th>Created By</th>
                
                <th>Last Updated</th>
                
                <th>Last Updated By</th>
                
                <th>Version</th>
                
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var process in processList)
            {
                <tr>

                    <td>@process.id.ToString()</td>
                    
                    <td>@process.name.ToString()</td>
                    
                    <td>@process.script_id.ToString()</td>
                    
                    <td>@process.is_active.ToString()</td>
                    
                    <td>@process.created_by.ToString()</td>
                    
                    <td>@process.last_updated.ToString()</td>
                    
                    <td>@process.last_updated_by.ToString()</td>
                    
                    <td>@process.version.ToString()</td>
                                        <td><button class="btn btn-primary" @onclick="@(()=> EditProcess(@process.id))">Edit</button></td>
                </tr>
            }
        </tbody>
    </table>
    <td><button class="btn btn-primary" @onclick="@(()=> AddProcess())">Add</button></td>
}

@code {
    protected  Process[]? processList;

    protected override async Task OnInitializedAsync()
    {
        var remoteClient = ClientFactory.CreateClient("RemoteAPI");

        processList = await remoteClient.GetFromJsonAsync<Process[]>("api/process");
    }

    void AddProcess()
    {
        
        Navigation.NavigateTo("edit-process");
    }

    void EditProcess(long id)
    {
        Navigation.NavigateTo($"edit-process/{id}");
    }


   
}
