@page "/uom"
@using System.Net.Http;
@using Microsoft.Extensions.DependencyInjection;
@inject HttpClient Http
@inject IHttpClientFactory ClientFactory
@inject NavigationManager Navigation
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))
<PageTitle>Unit of Measure</PageTitle>

<h1>Unit of Measure</h1>

<p>This component demonstrates fetching Unit of Measure data from the server.</p>

@if (uomList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>

                <th>ID</th>
                
                <th>Name</th>
                
                <th>Active</th>
                
                <th>Created By</th>
                
                <th>Last Updated</th>
                
                <th>Last Updated By</th>
                
                <th>Version</th>
                
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var uom in uomList)
            {
                <tr>

                    <td>@uom.id.ToString()</td>
                    
                    <td>@uom.Name.ToString()</td>
                    
                    <td>@uom.is_active.ToString()</td>
                    
                    <td>@uom.created_by.ToString()</td>
                    
                    <td>@uom.last_updated.ToString()</td>
                    
                    <td>@uom.last_updated_by.ToString()</td>
                    
                    <td>@uom.version.ToString()</td>
                                        <td><button class="btn btn-primary" @onclick="@(()=> EditUom(@uom.id))">Edit</button></td>
                </tr>
            }
        </tbody>
    </table>
    <td><button class="btn btn-primary" @onclick="@(()=> AddUom())">Add</button></td>
}

@code {
    protected  Uom[]? uomList;

    protected override async Task OnInitializedAsync()
    {
        var remoteClient = ClientFactory.CreateClient("RemoteAPI");

        uomList = await remoteClient.GetFromJsonAsync<Uom[]>("api/uom");
    }

    void AddUom()
    {
        
        Navigation.NavigateTo("edit-uom");
    }

    void EditUom(long id)
    {
        Navigation.NavigateTo($"edit-uom/{id}");
    }


   
}
