@page "/metricresourcemap"
@using System.Net.Http;
@using Microsoft.Extensions.DependencyInjection;
@inject HttpClient Http
@inject IHttpClientFactory ClientFactory
@inject NavigationManager Navigation
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))
<PageTitle>Metric Resource Map</PageTitle>

<h1>Metric Resource Map</h1>

<p>This component demonstrates fetching Metric Resource Map data from the server.</p>

@if (metricresourcemapList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>

                <th>ID</th>
                
                <th>Resource</th>
                
                <th>Metric</th>
                
                <th>Active</th>
                
                <th>Created By</th>
                
                <th>Last Updated</th>
                
                <th>Last Updated By</th>
                
                <th>Version</th>
                
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var metricresourcemap in metricresourcemapList)
            {
                <tr>

                    <td>@metricresourcemap.id.ToString()</td>
                    
                    <td>@metricresourcemap.resource_id.ToString()</td>
                    
                    <td>@metricresourcemap.metric_id.ToString()</td>
                    
                    <td>@metricresourcemap.is_active.ToString()</td>
                    
                    <td>@metricresourcemap.created_by.ToString()</td>
                    
                    <td>@metricresourcemap.last_updated.ToString()</td>
                    
                    <td>@metricresourcemap.last_updated_by.ToString()</td>
                    
                    <td>@metricresourcemap.version.ToString()</td>
                                        <td><button class="btn btn-primary" @onclick="@(()=> EditMetricResourceMap(@metricresourcemap.id))">Edit</button></td>
                </tr>
            }
        </tbody>
    </table>
    <td><button class="btn btn-primary" @onclick="@(()=> AddMetricResourceMap())">Add</button></td>
}

@code {
    protected  MetricResourceMap[]? metricresourcemapList;

    protected override async Task OnInitializedAsync()
    {
        var remoteClient = ClientFactory.CreateClient("RemoteAPI");

        metricresourcemapList = await remoteClient.GetFromJsonAsync<MetricResourceMap[]>("api/metricresourcemap");
    }

    void AddMetricResourceMap()
    {
        
        Navigation.NavigateTo("edit-metricresourcemap");
    }

    void EditMetricResourceMap(long id)
    {
        Navigation.NavigateTo($"edit-metricresourcemap/{id}");
    }


   
}
