@page "/scheduleworkflow"
@using System.Net.Http;
@using Microsoft.Extensions.DependencyInjection;
@inject HttpClient Http
@inject IHttpClientFactory ClientFactory
@inject NavigationManager Navigation
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))
<PageTitle></PageTitle>

<h1></h1>

<p>This component demonstrates fetching  data from the server.</p>

@if (scheduleworkflowList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>

                <th></th>
                
                <th></th>
                
                <th></th>
                
                <th>Active</th>
                
                <th>Created By</th>
                
                <th>Last Updated</th>
                
                <th>Last Updated By</th>
                
                <th>Version</th>
                
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var scheduleworkflow in scheduleworkflowList)
            {
                <tr>

                    <td>@scheduleworkflow.id.ToString()</td>
                    
                    <td>@scheduleworkflow.schedule_id.ToString()</td>
                    
                    <td>@scheduleworkflow.workflow_id.ToString()</td>
                    
                    <td>@scheduleworkflow.is_active.ToString()</td>
                    
                    <td>@scheduleworkflow.created_by.ToString()</td>
                    
                    <td>@scheduleworkflow.last_updated.ToString()</td>
                    
                    <td>@scheduleworkflow.last_updated_by.ToString()</td>
                    
                    <td>@scheduleworkflow.version.ToString()</td>
                                        <td><button class="btn btn-primary" @onclick="@(()=> EditScheduleWorkflow(@scheduleworkflow.id))">Edit</button></td>
                </tr>
            }
        </tbody>
    </table>
    <td><button class="btn btn-primary" @onclick="@(()=> AddScheduleWorkflow())">Add</button></td>
}

@code {
    protected  ScheduleWorkflow[]? scheduleworkflowList;

    protected override async Task OnInitializedAsync()
    {
        var remoteClient = ClientFactory.CreateClient("RemoteAPI");

        scheduleworkflowList = await remoteClient.GetFromJsonAsync<ScheduleWorkflow[]>("api/scheduleworkflow");
    }

    void AddScheduleWorkflow()
    {
        
        Navigation.NavigateTo("edit-scheduleworkflow");
    }

    void EditScheduleWorkflow(long id)
    {
        Navigation.NavigateTo($"edit-scheduleworkflow/{id}");
    }


   
}
