@page "/metricevent"
@using System.Net.Http;
@using Microsoft.Extensions.DependencyInjection;
@inject HttpClient Http
@inject IHttpClientFactory ClientFactory
@inject NavigationManager Navigation
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))
<PageTitle>Metric Event</PageTitle>

<h1>Metric Event</h1>

<p>This component demonstrates fetching Metric Event data from the server.</p>

@if (metriceventList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>

                <th>ID</th>
                
                <th>Metric</th>
                
                <th>Event Time</th>
                
                <th>Value</th>
                
                <th>Active</th>
                
                <th>Created By</th>
                
                <th>Last Updated</th>
                
                <th>Last Updated By</th>
                
                <th>Version</th>
                
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var metricevent in metriceventList)
            {
                <tr>

                    <td>@metricevent.id.ToString()</td>
                    
                    <td>@metricevent.metric_id.ToString()</td>
                    
                    <td>@metricevent.event_time.ToString()</td>
                    
                    <td>@metricevent.value.ToString()</td>
                    
                    <td>@metricevent.is_active.ToString()</td>
                    
                    <td>@metricevent.created_by.ToString()</td>
                    
                    <td>@metricevent.last_updated.ToString()</td>
                    
                    <td>@metricevent.last_updated_by.ToString()</td>
                    
                    <td>@metricevent.version.ToString()</td>
                                        <td><button class="btn btn-primary" @onclick="@(()=> EditMetricEvent(@metricevent.id))">Edit</button></td>
                </tr>
            }
        </tbody>
    </table>
    <td><button class="btn btn-primary" @onclick="@(()=> AddMetricEvent())">Add</button></td>
}

@code {
    protected  MetricEvent[]? metriceventList;

    protected override async Task OnInitializedAsync()
    {
        var remoteClient = ClientFactory.CreateClient("RemoteAPI");

        metriceventList = await remoteClient.GetFromJsonAsync<MetricEvent[]>("api/metricevent");
    }

    void AddMetricEvent()
    {
        
        Navigation.NavigateTo("edit-metricevent");
    }

    void EditMetricEvent(long id)
    {
        Navigation.NavigateTo($"edit-metricevent/{id}");
    }


   
}
